

# ==========================================================================

[extruder4]
pressure_advance_model: tanh
linear_advance: 0.0149
nonlinear_offset: 0.132759 # 0.1250
linearization_velocity: 1.686400 # 1.62
pressure_advance_smooth_time: 0.02
pressure_advance_time_offset: 0.0018

# ==========================================================================

[gcode_macro RUBIDIUM_SCAN]
rename_existing: _RUBIDIUM_SCAN
gcode:
    _RUBIDIUM_SCAN {rawparams} PREVIOUS_TOOL={printer.toolchanger.tool_number}

[rubidium]
travel_speed: 500 # (mm/s) default move speed for general (travel) moves

[rubidium analyse]
crop_size: 100, 100
crop_auto_center: True

# ==================== SCAN =====================================================================

[rubidium scan]
scan_speed: 10 # (mm/s)
offset_x: 0.0
offset_y: 0.0
offset_z: 11.6

video_source: http://127.0.0.1:8081/?action=stream # or device path ig
video_latency_ms: 30

scan_buffer: 3 # in mm

# ---------------------------------------------------------------------------------

start_gcode:
    SET_LED LED="case" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
    T10
    LASER_ON DUTY=0.20
    M400
    { 'G4 P5000' if printer.toolchanger.tool_number != 10 else '' }

end_gcode:
    M400
    SET_LED LED="case" RED=1 GREEN=1 BLUE=1 SYNC=0 TRANSMIT=1
    LASER_OFF
    _MOVE_BACK_END_PAUSE_CANCEL
    T{params['PREVIOUS_TOOL']}
    RUBIDIUM_RUN_TUNE_NLO SCAN_END=1
    RUBIDIUM_AUTO_PATTERN SCAN_END=1

# -----------------------------

before_line_gcode:
    SET_VELOCITY_LIMIT ACCEL=4000

after_line_gcode:
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}

# -------------------------------------------------------------------------------
video_extra_input_args:
    -use_wallclock_as_timestamps 1
    -fflags +genpts
    -f mpjpeg

video_extra_output_args: # 950|507 # 1018:512 #  939 519 | 915 510
    -vf crop=200:200:850:407
    -c:v libx264
    -preset veryfast
    -crf 20
    -pix_fmt yuv420p
    -an

video_cut_extra_output_args:
    -vf scale=in_range=pc:out_range=tv:in_color_matrix=bt709:out_color_matrix=bt709
    -colorspace bt709
    -color_primaries bt709
    -color_trc bt709
    -color_range tv
    -c:v libx264
    -preset veryfast
    -crf 20
    -pix_fmt yuv420p
    -movflags +faststart
    -an

# ==================== PRINT =====================================================================

[rubidium print]
print_speed: 50 # For brim
speeds:
    fast:           250,
    medium_fast:    175,
    medium:         125,
    medium_slow:    80,
    slow:           25,
    slow_scv:       10,
    scv:            5,

brim_overlap: 80
brim_walls: 4

start_gcode:
    {% set bed_temp    = params.BED|d(85) %} # params are maintained, ie RUBIDIUM_PRINT BED=30 
    {% set hotend_temp = params.HOTEND|d(270) %}

    {% if 'BATCH' in params %}
        M140 S{bed_temp}
        { params.BATCH if params.BATCH|length > 4 else ''}
        T0
        M104 S190
        CLEAN_NOZZLE
        M109 S{hotend_temp}
        M190 S{bed_temp}

    {% else %}
        M104 S160
        M140 S{bed_temp}
        G28
        M104 S220
        CLEAN_NOZZLE
        M104 S160
        M190 S{bed_temp}
        G32
        M109 S{hotend_temp}
        #AUTO_PURGE T{printer.toolchanger.tool_number}_TEMP={hotend_temp}
        #G1 E{ 0.5 } F{ 3600 }

    {% endif %}


end_gcode:
    TURN_OFF_HEATERS
    _MOVE_BACK_END_PAUSE_CANCEL
    RUBIDIUM_RUN_TUNE_NLO PRINT_END=1
    RUBIDIUM_AUTO_PATTERN PRINT_END=1

before_line_gcode:
    {% set r = rubidium %}
    {% set fast = r.travel_speed * 60.0 %}
    {% if not r.last_line or ((r.last_line.end.x - r.line.start.x)|abs >= 3 or (r.last_line.end.y - r.line.start.y)|abs >= 3) %}
        G0 Z{ [r.line.start.z + 0.1, printer.toolhead.position.z]|max } F{ fast }
        ROUNDED_G0 Y={ r.line.start.y } F={ fast } D=50
        ROUNDED_G0 X={ r.line.start.x } F={ fast } D=50
        ROUNDED_G0 Z={ r.line.start.z } F={ fast } D=0
        G1 E{ 0.5 } F{ 3600 }
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL=4000
    G4 P50
# 
after_line_gcode:
    {% set r = rubidium %}
    {% if r.next_line and ((r.next_line.start.x - r.line.end.x)|abs >= 3 or (r.next_line.start.y - r.line.end.y)|abs >= 3) %}
        G1 E{ -0.5 } F{ 3600 }
        G0 Z{ r.next_line.start.z + 0.1 } F{ r.travel_speed * 60.0 }
    {% endif %}
    SET_VELOCITY_LIMIT ACCEL={ printer.configfile.settings.printer.max_accel }
    G4 P200


# default pattern things ----------------------------------------------------------------
# you can also add them ass [rubidium pattern]
param_start:      0.0
param_stop:       0.1
param_count:      12

tuning_command:   SET_PRESSURE_ADVANCE
tuning_parameter: ADVANCE

# origin_x:         175 # if unset will be computed as bed center (x/y)
# origin_y:         200 # will however be the lower left corner and not the center of the pattern for now

# optional → origin_z: starting z height (default 0) 
layer_height:     0.2 # default = (nozzle size * (line width / 100)) / 2

# line_width: (in mm) ← alternatively
line_width_pct:   120 # (%)
line_length:      40  # (mm)
line_spacing:     4   # (mm) line ↔ line
pattern: lines
pattern_segments:
     slow_scv: 0.25,
     medium:   0.5,
     slow_scv: 0.25

# ---------------------------------------------------------------------------------

[rubidium pattern grid_nlo_vlin]
pattern: grid

origin_x: 75
origin_y: 100
origin_z: 0.0

layer_height:     0.2

tuning_command:   SET_PRESSURE_ADVANCE
tuning_parameter: VELOCITY
param_start: 0.50
param_stop:  3.00
param_count: 8

tuning_command2:   SET_PRESSURE_ADVANCE
tuning_parameter2: OFFSET
param2_start: 0.1
param2_stop:  1.00
param2_count: 24

pattern_segments:
    medium:         0.15,
    slow_scv:       0.1,
    medium:         0.15,
    fast:           0.2,
    scv:            0.2,
    medium_slow:    0.2

line_length: 30
line_spacing: 4




# ---------------------------------------------------------------------------------
[rubidium pattern multistep]
origin_x:         100
origin_y:         100

layer_height:     0.25

line_length:      70
line_spacing:     2

pattern_segments:
    medium:         0.2,
    scv:            0.2,
    medium:         0.2,
    fast:           0.2,
    medium_slow:    0.2

param_start:      0.1
param_stop:       0.6
param_count:      12

tuning_command:   SET_PRESSURE_ADVANCE
tuning_parameter: OFFSET
