

# ABS-CF
[extruder2]
pressure_advance_model: recipr
linear_advance: 0.0147
nonlinear_offset: 0.238
linearization_velocity: 0.8
pressure_advance_smooth_time: 0.02
pressure_advance_time_offset: 0.0017



[rubidium pattern grid_autotune]
pattern: grid

origin_x: 35
origin_y: 50
origin_z: 0.0

layer_height:     0.20

tuning_command:   SET_PRESSURE_ADVANCE
tuning_parameter: ADVANCE
param_start: 0.015
param_stop:  0.05
param_count: 6

tuning_command2:   SET_PRESSURE_ADVANCE
tuning_parameter2: OFFSET
param2_start: 0.1
param2_stop:  1.00
param2_count: 15

pattern_segments:
    medium:         0.10,
    slow_scv:       0.10,
    medium:         0.10,
    fast:           0.25,
    scv:            0.10,
    medium_slow:    0.15,
    medium:         0.20

line_length: 45
line_spacing: 5





[gcode_macro RUBIDIUM_RUN_TUNE_NLO]
description: Tune NLO as param1, param2 alternates VLIN, LA, VLIN, LA
variable_cache: {}
variable_settings: {
        'print_bounds': {
            'x': {'min': 40,'max': 310},
            'y': {'min': 50,'max': 340},
        },
        'clearance': 4.0,   # clearance between patterns
        'max_printed': 4,   # maximum number of patterns to iterate
        'tune_amount': 0.4, # % to adjust per run
        'poll_s': 0.25
    }
gcode:
    {% set SELF     = "RUBIDIUM_RUN_TUNE_NLO" %}
    {% set CALLBACK = "_RUBIDIUM_RUN_TUNE_NLO_CALLBACK" %}
    {% set s = settings %}

    {% set _ = cache.setdefault('state', 'idle') %}
    {% set _ = cache.setdefault('pattern', params.pop('PATTERN', cache.pattern or 'grid_autotune')) %}
    {% set _ = cache.setdefault('patterns_printed', 0) %}

    {% macro main() %}

        {% if 'RESET' in params %}
            UPDATE_DELAYED_GCODE ID={CALLBACK} DURATION=0
            { _restore_initial_config() }
            {% set _ = cache.clear() %}
            { msg('reset') }

        {% elif cache.running %}
            {% if params.pop('RESTORE', False) %}
                { _restore_initial_config() }
                {% set _ = cache.pop('e', None) %}

            {% elif params.pop('PRINT_END', False) %}
                { _restore_initial_config() }
                {% set _ = cache.update({'state': 'after_print'}) %}
                UPDATE_DELAYED_GCODE ID={CALLBACK} DURATION={s.poll_s}

            {% elif params.pop('SCAN_END', False) %}
                {% set _ = cache.update({'state': 'waiting_video'}) %}
                { msg('waiting for video cutting to be done.') }
                UPDATE_DELAYED_GCODE ID={CALLBACK} DURATION={s.poll_s}

            {% elif 'CALLBACK' in params %}
                {% if cache.state == 'after_print' %}
                    {% set _ = cache.update({'state': 'scanning'}) %}
                    RUBIDIUM_SCAN PATTERN={cache.pattern}

                {% elif cache.state == 'waiting_video' %}
                    {% set scan = printer['rubidium scan'] %}
                    {% if scan.state == 'done' and scan.progress >= 1.0 and scan.video.state == 'done' %}
                        RUBIDIUM_ANALYSE
                        {% set _ = cache.update({'state': 'waiting_analysis'}) %}
                        { msg('waiting for analysis to be done.') }
                    {% endif %}
                    UPDATE_DELAYED_GCODE ID={CALLBACK} DURATION=5

                {% elif cache.state == 'waiting_analysis' %}
                    {% set ana = printer['rubidium analyse'] %}
                    {% if ana.analysis.state == 'done' %}
                        {% set _ = cache.update({'state': 'analysis_done'}) %}
                    {% elif ana.analysis.state == 'error' %}
                        {% set _ = cache.update({'running': False, 'state': 'error'}) %}
                        { msg('analysis failed') }
                    {% endif %}
                    UPDATE_DELAYED_GCODE ID={CALLBACK} DURATION={s.poll_s}

                {% elif cache.state == 'analysis_done' %}
                    {% set _ = cache.update({'state': 'idle'}) %}
                    {% if cache.paused %}
                        {% set _ = cache.update({'running': False}) %}
                        { msg('paused (batch finished)') }

                    {% elif cache.patterns_printed >= s.max_printed %}
                        {% set _ = cache.update({'running': False, 'state': 'done'}) %}
                        { msg('done') }

                    {% else %}
                        { _save_initial_config() }
                        { _print_next() }

                    {% endif %}
                {% else %}
                    { err('shouldnt happen') }
                {% endif %}

            {% else %}
                {% set _ = cache.update({'paused': True}) %}
                { msg('pausing (will stop after current batch)') }
            {% endif %}

        {% else %}
            { _save_initial_config() }
            {% set _ = cache.update({'running': True, 'paused': False, 'state': 'idle'}) %}
            { msg('starting/resuming') }
            { _print_next() }

        {% endif %}
    {% endmacro %}

    {%- macro _print_next() -%}
        {% set printed = cache.patterns_printed %}
        {% set _ = cache.setdefault('already_printed_params', []) %}
        {% set _step = get_next_step(allow_step='xy', already_printed=cache.already_printed_params) if printed else '' %}
        {% set next = (_step ~ ' BATCH=1') if _step else '' %}
        {% set _ = cache.already_printed_params.append(_step) if _step %}
        
        {% if printed >= s.max_printed %}
            {% set _ = cache.update({'running': False, 'state': 'done'}) %}
            { msg('done') }

        {% elif printed and not next %}
            {% set _ = cache.update({'running': False, 'state': 'done'}) %}
            { msg('unable to fit next pattern within allowed build area') }

        {% else %}
            {% set active_e      = printer.toolhead.extruder %}
            {% set e             = printer[active_e] %}
            {% set la, nlo, vlin = e.linear_advance, e.nonlinear_offset, e.linearization_velocity %}

            {% set nlo_ta = nlo * s.tune_amount %}
            {% set p1 = 'tuning_parameter=OFFSET param_start=' ~ (nlo - nlo_ta) ~ ' param_stop=' ~ (nlo + nlo_ta) %}

            {% if not (printed % 2) == 0 %}
                {% set vlin_ta = vlin * s.tune_amount %}
                {% set p2 = ' tuning_parameter2=VELOCITY param2_start=' ~ (vlin - vlin_ta) ~ ' param2_stop=' ~ (vlin + vlin_ta) %}
            {% else %}
                {% set la_ta = la * s.tune_amount %}
                {% set p2 = ' tuning_parameter2=ADVANCE param2_start=' ~ (la - la_ta) ~ ' param2_stop=' ~ (la + la_ta) %}
            {% endif %}

            {% set _dirname = 'batch_' ~ printed ~ '_' ~ cache.pattern %}

            {% set _ = cache.update({'patterns_printed': printed + 1, 'state': 'printing'}) %}
            RUBIDIUM_PRINT PATTERN={cache.pattern} {next} {p1 ~ p2} DIRNAME={_dirname} {params|xmlattr}
        {% endif %}
    {%- endmacro -%}

    {% macro msg(s, prefix_color="--v-accent-base, orange", msg_color="--p-text-color2, grey") %}
        {% set desc = printer.configfile.settings['gcode_macro ' ~ SELF|lower].description|trim|trim('"')|trim("'") %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">" ~ SELF ~ " </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}

    {% macro _save_initial_config() %}
        {% set active_e = printer.toolhead.extruder %}
        {% set e = printer[active_e] %}
        {% set _ = cache.update({
            'e': {
                'extruder': active_e,
                'la': e.linear_advance,
                'nlo': e.nonlinear_offset,
                'vlin': e.linearization_velocity
            }
        }) %}
    {% endmacro %}

    {% macro _restore_initial_config() %}
        {% if 'e' in cache %}
            SET_PRESSURE_ADVANCE EXTRUDER={cache.e.extruder} OFFSET={cache.e.nlo} ADVANCE={cache.e.la} VELOCITY={cache.e.vlin}
        {% endif %}
    {% endmacro %}

    {%- macro get_next_step(allow_step='', already_printed=None) -%}
        {%- set _params = [] -%}
        {%- set directions = [('x', 1), ('x', -1), ('y', 1), ('y', -1)] -%}
        {%- for ax, dir in directions if ax in allow_step and not _params -%}
            {%- set _new = _next_tile_param(
                step_x=(0 if ax == 'y' else dir),
                step_y=(0 if ax == 'x' else dir),
                clearance=s.clearance
            ) -%}
            {%- set _ = _params.append(_new) if _new and (not already_printed or _new not in already_printed) -%}
        {%- endfor -%}
        { _params|join }
    {%- endmacro -%}

    {%- macro _out_of_bounds(point, clearance=0.0) -%}
        {%- for ax in ['x', 'y'] if ax in point -%}
            {%- set min_v = s.print_bounds[ax]['min'] + clearance -%}
            {%- set max_v = s.print_bounds[ax]['max'] - clearance -%}
            {- ax if point[ax] < min_v or point[ax] > max_v else '' -}
        {%- endfor -%}
    {%- endmacro -%}

    {%- macro _next_tile_param(step_x=0, step_y=0, clearance=0.0) -%}
        {%- set _pattern = printer['rubidium pattern ' ~ cache.pattern] -%}
        {%- set outline  = _pattern.lines.outline_xy -%}
        {%- set xs, ys   = [], [] -%}
        {%- for pt_x, pt_y in outline -%}
            {%- set _, _ = xs.append(pt_x), ys.append(pt_y) -%}
        {%- endfor -%}
        {%- for ax, vals, step in [('x', xs, step_x), ('y', ys, step_y)] if step -%}
            {%- set _min, _max = vals|min, vals|max -%}
            {%- set size       = _max - _min -%}
            {%- set origin_new = _pattern.settings['origin_' ~ ax] + step * (size + clearance) -%}
            {%- if not _out_of_bounds({ax: origin_new}, clearance)
                and not _out_of_bounds({ax: origin_new + size}, clearance) -%}
                { (' ' if not loop.first else '') ~ 'origin_' ~ ax ~ '=' ~ origin_new }
            {%- endif -%}
        {%- endfor -%}
    {%- endmacro -%}

    { main() }
    SET_GCODE_VARIABLE MACRO={SELF} VARIABLE=cache VALUE="{cache}"


[delayed_gcode _RUBIDIUM_RUN_TUNE_NLO_CALLBACK]
gcode:
    UPDATE_DELAYED_GCODE ID=_RUBIDIUM_RUN_TUNE_NLO_CALLBACK DURATION=0
    RUBIDIUM_RUN_TUNE_NLO CALLBACK=1
