


[pa_manager]
models_file: /home/klippy/printer_data/config/pa_models.json
min_score: 85
params_source: 'contomo'
params_tool_info.extruder_type: 'direct'
params_tool_info.extruder_name: 'hgx lite'


[tool T0]
params_tool_info.hotend: 'rapido_ace_hf'
params_tool_info.nozzle_material: 'copper steel'


[tool T2]
params_tool_info.hotend: 'rapido_2_hf'
params_tool_info.nozzle_material: 'diamondback'

[tool T3]
params_tool_info.hotend: 'tz volcano'
params_tool_info.nozzle_material: 'copper steel'

[tool T4]
params_tool_info.hotend: 'rapido_ace_hf'
params_tool_info.nozzle_material: 'copper steel'

[gcode_macro LOAD_ADAPTIVE_MODEL]
description: Loads the best-matching nonlinear pressure advance model for a given material and tool.
    Usage: LOAD_ADAPTIVE_MODEL [EXTRUDER=extruder] [MATERIAL=abs]
gcode:
    {% set SELF = 'LOAD_ADAPTIVE_MODEL' %}

    {% macro main(params) %}
        {% if 'GENERATE_ORCA' in params %}
            { _generate_orca_lines() }
        {% elif 'HEATER' not in params %}
            { err(("Usage: " ~ SELF ~ " HEATER=<heater> MATERIAL=<type> (or GENERATE_ORCA=1)")|e) }
        {% else %}
            { _load_model(
                params.HEATER,
                params.MATERIAL,
                params.TARGET,
                params.VENDOR
            ) }
        {% endif %}
    {% endmacro %}

    {%- macro _load_model(extruder, material, temp, manufacturer) -%}
        {% set tools = [] %}
        {% for shit in printer if shit in printer.toolchanger.tool_names %}
            {% set _ = tools.append(printer[shit]) %}{% endfor %}

        {% set tool = tools|selectattr('extruder', 'equalto', extruder)|first %}

        {% if tool and tool['params_tool_info.hotend'] and tool['params_tool_info.nozzle_material'] %}
            {% set newparams = [
                'TOOL_INFO.HOTEND="' ~           tool['params_tool_info.hotend'] ~ '"',
                'TOOL_INFO.nozzle_material="' ~  tool['params_tool_info.nozzle_material'] ~ '"',
                'FILAMENT.TYPE="' ~              material ~ '"',
                'FILAMENT.TEMP=' ~               temp,
                'FILAMENT.MANUFACTURER="' ~      manufacturer ~ '"',
                'EXTRUDER=' ~ extruder,
            ] %}
            LOAD_PA_PROFILE { newparams|join(' ') }
        {% else %}
            { err('tools hotend could not be determined.' )}
        {% endif %}
    {%- endmacro %}

    # --------------------------------------------------------------------------------
    {%- macro _generate_orca_lines() -%}
        {%- set line_template = "{if is_extruder_used[$N]}" ~ SELF ~ 
                                " HEATER=$E MATERIAL='{filament_type[$N]}' TARGET={nozzle_temperature[$N]}" ~ 
                                " VENDOR={filament_vendor[$N]}" ~ 
                                "{endif}" %}
        {%- set output = ["Add these lines to your slicers start gcode:"] -%}
        {%- for obj_name in printer if obj_name.startswith('extruder') -%}
            {%- set number = '0' if obj_name == 'extruder' else obj_name|replace('extruder', '') -%}
            {%- set heater = 'extruder  ' if obj_name == 'extruder' else obj_name -%}
            {%- set _ = output.append(line_template|replace('$E', heater)|replace('$N', number)) -%}
        {%- endfor -%}
        { msg(output|join('\n')) }
    {%- endmacro -%}
    # --------------------------------------------------------------------------------
    {%- macro msg(s, prefix_color="--v-accent-base", msg_color="--p-text-color2", respond=action_respond_info) -%}
        {%- set desc = printer.configfile.settings['gcode_macro ' ~ SELF|lower].description|d(SELF) -%}
        {%- set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">" ~ SELF ~ " </span>" -%}
        {%- set _ = respond(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") %}
    {%- endmacro -%}
    {%- macro err(s) -%}{%- set _ = msg(s, prefix_color="--v-error-base", msg_color="--v-warning-base") -%}{%- endmacro -%}

    { main(params) }