[tools_calibrate]
# Nudge config
# These two values should be changed or checked for YOUR printer.
# 'pin' should reference the pin used for Nudge.
pin: ^PG11
# 'spread' is the amount of X or Y motion used in the probing sequence.
# Think of it as the clearance from the center, to accomodate the pin's diameter and any
# initial starting-point inaccuracy.
# For larger pins (5mm), increase this to 3.5mm+.
#   Increase this and/or improve the accuracy of the starting point if the probe triggers too early.
#   Decrease this and/or improve the accuracy of the starting point if the motion pushes your printer beyond the allowed travel amount.
spread: 3 #7
#
# Config below is unlikely to need changes.
#
# 'lower_z' is the distance below the probe tip in Z, used to ensure a hit.
#   Increase this to have more of the nozzle hit during probing.
#   Values as low as 0.1mm may work, and will minimize the need for overtravel.
lower_z: 0.2 #0.5
travel_speed: 100 #20
speed: 2.5 #1.5
lift_speed: 4 #8
final_lift_z: 4 #6
sample_retract_dist: 3
samples_tolerance: 0.10 #0.05
samples: 3 #5
samples_result: median

trigger_to_bottom_z: 2.0733  # set to -1 to disable z offset measurement
# todo, include in nudge dict, only use -1, 1 to enable or disable probing functionality. with the dict probe offset being defined always from T0

#  Change this path to somewhere in your config folder
[save_variables]
filename: ~/printer_data/config/variables.cfg

#####################################################################
#   _TC_FIND_CALIBRATION_PROBE
#####################################################################
[gcode_macro _TC_FIND_CALIBRATION_PROBE]
variable_macro_html: "title='Calls a macro to move over the calibration probe, and the correct internal command based on tool number selected.\u0026\u0023\u0031\u0030\u003bRefer to &apos;_NUDGE_MOVE_OVER_PROBE&apos; for more info'>_TC_ADJUST_HOME_OFFSET </span>"
gcode:
  {% set atn = printer.tool_probe_endstop.active_tool_number|int %}
  {% set ttbz = printer.configfile.settings.tools_calibrate.trigger_to_bottom_z|float %}
  {% if atn == -1 %}
    RESPOND MSG="<span class='error--text'{macro_html}<span class='warning--text'&apos;tool_probe_endstop.active_tool_number&apos; is {atn} (not valid) run &apos;DETECT_ACTIVE_TOOLPROBE&apos; to update it.'>No active tool</span>"
  {% elif atn == 0 %} # If we are T0
    STATUS_CALIBRATING_Z
    _NUDGE_MOVE_OVER_PROBE
    TOOL_LOCATE_SENSOR
    {% if ttbz != -1 %} TOOL_CALIBRATE_PROBE_OFFSET PROBE="tool_probe T{atn}" {% endif %} 
  {% else %}
    STATUS_CALIBRATING_Z
    _NUDGE_MOVE_OVER_PROBE
    TOOL_CALIBRATE_TOOL_OFFSET
    {% if ttbz != -1 %} TOOL_CALIBRATE_PROBE_OFFSET PROBE="tool_probe T{atn}" {% endif %} 
  {% endif %}

#####################################################################
#   TC_FIND_TOOL_OFFSETS
#####################################################################
[gcode_macro TC_FIND_TOOL_OFFSETS]
description: Calibrates the offsetts of the specified tool or tools. Usage: TC_FIND_TOOL_OFFSETS TOOL=x,x,x
variable_probe_temp: 150
gcode:
  {% set prstmac = printer["gcode_macro PRINT_START"] %}
  {% set ttbz = printer.configfile.settings.tools_calibrate.trigger_to_bottom_z|int %}
  {% set svf = printer.save_variables.variables %}
  {% set tool_nums = "0," + params.TOOL|default("1") %}
  {% set tools_to_adjust = [] %}
  {% for t in tool_nums.split(",") %} {% set _ = tools_to_adjust.append(t|int) %} {% endfor %}
  # make it an iterable int list.
  # Check if the printer is homed.
  {% if "xyz" not in printer.toolhead.homed_axes %}
    RESPOND MSG="Printer must be homed before finding tool offsets."
  {% elif printer.tool_probe_endstop.active_tool_number|int != -1 %}
    {% for tool_num in tools_to_adjust %}
      M104 S{probe_temp} T{tool_num}
      RESPOND MSG="Found {tools_to_adjust|length} tools to get the offsets for."
      # Switch to the tool for processing.
      {% if printer.tool_probe_endstop.active_tool_number != tool_num %} T{tool_num} {% endif %}
      # clean the nozzle
      {% if printer["gcode_macro _TOOLCHANGER_CLEAN_NOZZLE"] is defined %} _TOOLCHANGER_CLEAN_NOZZLE {% endif %}# prob just {% if printer["gcode_macro _TOOLCHANGER_CLEAN_NOZZLE"] %} is enough
      # heat up
      M109 S{probe_temp} T{tool_num}
      # if not last, preheat next
      {% set next_tool = tools_to_adjust[loop.index] if not loop.last else None %}
      {% if next_tool is not none %} M104 S{probe_temp - probe_temp * 0.1} T{next_tool} {% endif %}
      # if T0 make sure off are 0
      {% if tool_num == 0 %} SET_GCODE_OFFSET X=0 Y=0 Z=0 {% endif %}
      # calibrate XYZ
      _TC_FIND_CALIBRATION_PROBE 
      #if defined calibrate probe
      # que for save
      _TC_UPDATE_OFFSETS TOOL={tool_num} 
      M104 S0 T{tool_num} # cool
    {% endfor %}
    T0
    # move center if we arent printing
    {% if printer.idle_timeout.state|string != "Printing" %} _MOVE_TO_CENTER {% endif %}
    _TC_UPDATE_OFFSETS SAVE=1 # save the offsets
    # reheat all tools if required.
    {% for tool_num in tools_to_adjust %}
      {% if prstmac["params_T" ~ tool_num|string ~ "TEMP"] is defined %}
        M104 S{prstmac["params_T" ~ tool_num|string ~ "TEMP"]|int - 50} T{tool_num}
      {% endif %}
    {% endfor %}
  {% endif %}


#####################################################################
#   _TC_UPDATE_OFFSETS
#####################################################################
[gcode_macro _TC_UPDATE_OFFSETS]
description: stage tool offsets for save. Usage: _TC_UPDATE_OFFSETS TOOL=X [SAVE], stages the current 'tools_calibrate.last_result' to the toolnumber provided. 
variable_storage: {} # why all this gibberish? statistics. (and its easier to read if printed last, all at one place)
gcode:
  _INIT_SVF_KEYS # will run quiet if everything ok, its okay to call in same macro cause we will always first record some pos before saving it.
  {% set save_mode = true if 'SAVE' in params else false %}
  {% set nl = '\u0026\u0023\u0031\u0030\u003b' %}
  {% set svf = printer.save_variables.variables %}
  {% if save_mode %}
    {% set report = [] %}
    {% for tkey in storage %}
      {% set temp_coords = storage[tkey] %}
      {% if tkey[-1] == "0" %} # tkey[-1] should be the string name?
        ####################### handle our tool 0, position should be saved as nudge pos, with probe being appended to the 0,0,0 gcode offsets.
        {% set old = svf.probe_position %}  # just for consol printing purpose | set old pos as nudge pos
        {% set zero_offset = {"x": 0.000, "y": 0.000, "z": 0.000} %}
        {% if has_probe %} {% set _ = zero_offset.update({"probe": temp_coords.probe}) %} {% endif %}
        SAVE_VARIABLE VARIABLE=probe_position VALUE={temp_coords}
        SAVE_VARIABLE VARIABLE={'offsets_' ~ tkey} VALUE="{zero_offset}"
      {% else %}
        ####################### for all other tools, save as offsets with probe.
        {% set old = svf['offsets_' ~ tkey]|default({"x": 0, "y": 0, "z": 0}) %} # just for consol printing purpose
        SAVE_VARIABLE VARIABLE={'offsets_' ~ tkey} VALUE="{temp_coords}"
      {% endif %}
      # calculate difference to last calibration
      {% set diff = {"x": (old.x - temp_coords.x)|round(3), "y": (old.y - temp_coords.y)|round(3), "z": (old.z - temp_coords.z)|round(3)} %}
      # if first line of message, add header.
      {% set tooltip = "_TC_UPDATE_OFFSETS" ~ nl if loop.first else tooltip %}
      # show XYZ difference to last.
      {% set tooltip = tooltip ~ "Pos: X: " ~ temp_coords.x ~ " Y: " ~ temp_coords.y ~ " Z: " ~ temp_coords.z ~ nl ~ "Dif: X: " ~ diff.x ~ " Y: " ~ diff.y ~ " Z: " ~ diff.z %}
      # also probe if we are doing that.
      {% if has_probe %} {% set tooltip = tooltip ~ nl ~ "Z Probe: Z: " ~ temp_coords.probe ~ " Diff: " ~ (svf[tkey ~ '_offset'].probe - temp_coords.probe) %} {% endif %}
      # now add the actual line we print
      {% set _ = report.append("<span style='cursor:pointer; color:rgb(255,20,120);' title='" ~ tooltip ~ "'>" ~ tkey|string|upper ~ " Offsets saved.</span>") %}

      # append to rolling storage log. can be disabled by changing max entries in _TC_LOG_OFFSET_HISTORY to 0.
      {% set logparams = "TN=" ~ tkey ~ " X=" ~ temp_coords.x|string ~ " Y=" ~ temp_coords.y|string ~ " Z=" ~ temp_coords.z|string %}      
      {% set logparams = logparams ~ " PROBE=" ~ temp_coords.probe_z_offset|string if has_probe else logparams %}  
      _TC_LOG_OFFSET_HISTORY {logparams}
    {% endfor %}
    RESPOND MSG="{report|join(nl)}"
    SET_GCODE_VARIABLE MACRO=_TC_UPDATE_OFFSETS VARIABLE=storage VALUE={{}} # clear storage
  {% else %}
  ######################## If we arent saving to SVF, append to internal storage first.
    {% set ns = namespace(tn="") %}
    {% if rawparams %} {% for c in rawparams.split()[0] %} {% set ns.tn = ns.tn ~ c if "0" <= c <= "9" else ns.tn %} {% endfor %} {% endif %}# retrieve number from first param provided
    {% if ns.tn|length > 0 %}  # if parameter provided
      {% set tn = printer.toolchanger.tool_names[ns.tn]|replace("tool ", "")|lower %}
      # set last results
      {% set lastResult = printer.tools_calibrate.last_result %}
      {% set temp_coords = {"x": lastResult[0]|round(3), "y": lastResult[1]|round(3), "z": lastResult[2]|round(3)} %}
      # add probe
      {% if printer.configfile.settings.tools_calibrate.trigger_to_bottom_z|int != -1 %}
        {% set _ = temp_coords.update({"probe": printer.tools_calibrate.last_probe_offset|round(3)}) %}
      {% endif %}
      # save appended values
      SET_GCODE_VARIABLE MACRO=_TC_UPDATE_OFFSETS VARIABLE=storage VALUE="{storage.copy().update({tn: temp_coords})}"
    {% else %}
      RESPOND MSG="<span class='error--text'title='stage tool offsets for save.{nl}Usage: _TC_UPDATE_OFFSETS TN=X [SAVE]{nl}Stages the current offsets from &apos;tools_calibrate.last_result&apos; to the toolnumber provided for save.{nl}(or saves them)'><b>_TC_UPDATE_OFFSETS</b></span> <span class='warning--text'title='First parameter provided should contain toolnumber, valid examples would be:{nl}ABC=1{nl}TN=2{nl}T=T1{nl}TOOL=&apos;tool TX1&apos;{nl}etc....'>First parameter missing <code>toolnum</code></span>"
    {% endif %}
  {% endif %}

#####################################################################
#   TC_ADJUST_OFFSET
#####################################################################
[gcode_macro TC_ADJUST_OFFSET]
description: Adjust an offset by specifying tool, axis, and amount to adjust.
             TC_ADJUST_OFFSET TOOL=1 AXIS=X AMOUNT=0.050
gcode:# todo build gui for this
  {% set tool_num = params.TOOL|default(-1)|int %}
  {% set axis = params.AXIS|default(' ')|lower %}
  {% set amount = params.AMOUNT|default(0.000)|float|round(3) %}
  {% if (tool_num != -1) %}
    {% if (axis == 'x') or (axis == 'y') or (axis == 'z')  %}
      {% if amount != 0.000 %}
        RESPOND MSG="Adjusting T{tool_num} {axis}_axis gcode offset  by {amount}mm."
        # Setup the variables we need
        {% set svf = printer.save_variables.variables %}
        # Pull the current value and adjust the offset by the sent amount.
        {% set new_val = svf[ 't' + tool_num|string + '_offset_' + axis|string]|float|round(3) + amount|float|round(3) %}
        # Save the new value to the save file.
        SAVE_VARIABLE VARIABLE={'t' + tool_num|string + '_offset_' + axis|string} VALUE={new_val}
        {% if printer.toolchanger.tool_number == tool_num %}
          # We are currently using the tool, updage the gcode offset NOW
          SET_GCODE_OFFSET {axis}={new_val|float|round(3)} MOVE=1
        {% endif %}
      {% else %}
        RESPOND MSG="Error: Amount to adjust must be specified."
      {% endif %}
    {% elif axis == ' ' %}
      RESPOND MSG="Error: Axis must be specified."
    {% else %}
      RESPOND MSG="Error: Unknown axis: {axis}. Only X, Y, or Z supported."
    {% endif %}
  {% else %}
    RESPOND MSG="Error: Tool must be specified."
  {% endif %}

#####################################################################
#   _NUDGE_MOVE_OVER_PROBE
#####################################################################
[gcode_macro _NUDGE_MOVE_OVER_PROBE]
description: Move tool head to probing position defined in [save_variables].
variable_macro_html: "title='Moves 3mm above the nudge probe, whose position can be set in the [save_variables] file or by manually jogging there and running TC_FIND_FIRST_CALIBRATION_PROBE_POSITION'>_NUDGE_MOVE_OVER_PROBE </span>"
gcode:
  {% set p = printer %}
  {% set restoreAccel = p.toolhead.max_accel|float %}
  _INIT_SVF_KEYS
  {% if p.tool_probe_endstop.active_tool_number|int != -1 %}
    {% set svf = p.save_variables.variables %}
    {% set feed = p.toolchanger.params_fast_speed  %}
    # Pull Nudge location from the save file position
    {% if 'probe_position' in svf %}
      {% if svf.probe_position.x|int == 0 and svf.probe_position.y|int == 0 and svf.probe_position.z|int == 0 %}
        RESPOND MSG="<span class='error--text'{macro_html}<span class='warning--text'title='please calibrate by manually jogging over probe and running TC_FIND_FIRST_CALIBRATION_PROBE_POSITION'>Probe position is not set</span>"
      {% else %}
        SET_VELOCITY_LIMIT ACCEL={p.configfile.config.printer.max_accel|float // p.toolchanger.params_macro_accel_divider|default(12)|float}
        {% if p.toolhead.position[2] < svf.probe_position.z + 3 %} ROUNDED_G0 Z={svf.probe_position.z + 8} D=10 F={feed//2}{% endif %}
        ROUNDED_G0 X={svf.probe_position.x} D=100 F={feed}
        ROUNDED_G0 Y={svf.probe_position.y} D=100 F={feed}
        ROUNDED_G0 Z={svf.probe_position.z + 3} D=0 F={feed//2}
      {% endif %}
    {% else %}
      {% set titleValidKey = "title='a valid key would be &quot;probe_position = {&apos;x&apos;: 219.644, &apos;y&apos;: 4.43, &apos;z&apos;: 8.066}&quot;" %}
      RESPOND MSG="<span class='error--text'{macro_html}<span class='warning--text'{titleValidKey}'>Probe Key missing</span>"
    {% endif %}
  {% endif %}
  SET_VELOCITY_LIMIT ACCEL={restoreAccel}

#####################################################################
#   TC_GET_PROBE_TRIGGER_TO_BOTTOM
#####################################################################
[gcode_macro TC_GET_PROBE_TRIGGER_TO_BOTTOM]
description: Calculates correct trigger_to_bottom_z using trusted z_offset (trused = current tool)
gcode:
  {% if printer.tool_probe_endstop.active_tool_number|int != -1 %}
    {% set probe = printer.probe.active_tool_probe %}
    {% set cur_probe_offset = printer.tool_probe_endstop.active_tool_probe_z_offset|float %}
    _NUDGE_MOVE_OVER_PROBE
    {% if probe == "tool_probe T0" %}
      TOOL_LOCATE_SENSOR
    {% else %}
      _TC_FIND_CALIBRATION_PROBE
    {% endif %}
    _TOOL_CALIBRATE_PROBE_OFFSET
    _TC_GET_PROBE_TRIGGER_TO_BOTTOM
    {% set feed = printer['configfile'].config["tools_calibrate"]["travel_speed"]|int * 60  %}
    G0 X{printer.configfile.config.stepper_x.position_max|float / 2} Y{printer.configfile.config.stepper_y.position_max|float / 2} F{feed}
  {% endif %}

[gcode_macro _TC_GET_PROBE_TRIGGER_TO_BOTTOM]
gcode:
  {% if printer.tool_probe_endstop.active_tool_number|int != -1 %}
    {% set cur_probe_offset = printer.tool_probe_endstop.active_tool_probe_z_offset|float %}
    {% set last_probe_offset = printer.tools_calibrate.last_probe_offset|float %}
    {% set ttb_old = printer.configfile.settings.tools_calibrate.trigger_to_bottom_z|float %}
    {% set ttb_new = cur_probe_offset - (last_probe_offset - ttb_old) %}
    {% set nl = '\u0026\u0023\u0031\u0030\u003b' %}
    {% set hover_text ="🟠 z_offset: " ~ cur_probe_offset|round(3)|string ~ nl ~"🔵 last_offset: " ~ last_probe_offset|round(3)|string ~ nl ~"🟣 old trigger_to_bottom_z: " ~ ttb_old|round(3)|string%}
    RESPOND MSG="<span title='{hover_text}'><b style='color:rgb(0,255,150)'>🟢 trigger_to_bottom_z: {ttb_new|round(4)}</b></span>"
  {% else %}
    RESPOND TYPE=error MSG="No active tool selected for probe calibration."
  {% endif %}


#####################################################################
#   _INIT_SVF_KEYS   # Initializes and or repairs all the keys we need.
#####################################################################
[gcode_macro _INIT_SVF_KEYS] # TODO add ability to resort to x y z probe, be more quiet, less console spam
description: Ensure all required tool offset keys exist and are valid in save_variables
gcode:
  {% set svf = printer.save_variables.variables %}
  {% set nl = '\u0026\u0023\u0031\u0030\u003b' %}
  {% set toolnames = printer.toolchanger.tool_names %}
  {% set zprobe_required = printer.configfile.settings.tools_calibrate.trigger_to_bottom_z|float != -1 %}
  {% set keys_to_check_tool = ["x", "y", "z"] + ["probe"] if zprobe_required else ["x", "y", "z"] %}
  {% set missing = [] %}
  {% set repaired = [] %}
  {% set removed = [] %}
  {% set warnings = [] %}
  # Nudge position dick handling
  {% set nudge = svf['probe_position']|default({}) %}
  {% if nudge is not mapping %} {% set nudge = {} %} {% endif %}
  {% set nudgerepair = nudge.copy() %}
  {% for k in ["x", "y", "z"] %} {% if k not in nudge %}
      {% set _ = nudgerepair.update({k: 0.0}) %}
      {% set _ = missing.append("probe_position." ~ k) %}
  {% endif %} {% endfor %} 
  {% for k in nudgerepair %} {% if k not in ["x", "y", "z"] %}
      {% set _ = nudgerepair.pop(k) %}
      {% set _ = removed.append("probe_position." ~ k) %}
  {% endif %} {% endfor %}
  {% if nudgerepair != nudge %}
    SAVE_VARIABLE VARIABLE=probe_position VALUE="{nudgerepair}"
    {% set _ = repaired.append("probe_position") %}
  {% endif %}
  # Check tool offsets
  {% for i in range(toolnames|length) %}
    {% set rawname = toolnames[i] %}
    {% set toolname = rawname|replace("tool ", "")|lower %}
    {% set key = 'offsets_' ~ toolname %}
    {% set val = svf[key]|default({}) %}
    {% if val is not mapping %} {% set val = {} %} {% endif %}
    {% set newval = val.copy() %}
    {% for k in keys_to_check_tool %} {% if k not in val %}
        {% set _ = newval.update({k: 0.0}) %}
        {% set _ = missing.append(key ~ "." ~ k) %}
    {% endif %} {% endfor %}
    {% for k in val %} {% if k not in keys_to_check_tool %}
        {% set _ = newval.pop(k) %}
        {% set _ = removed.append(key ~ "." ~ k ~ "=" ~ val[k]|string) %}
    {% endif %} {% endfor %}
    {% if newval != val %}
      SAVE_VARIABLE VARIABLE={key} VALUE="{newval}"
      {% set _ = repaired.append(key) %}
    {% endif %}
    # Warn if T0 has any non-zero offsets
    {% set _ = warnings.append(toolnames[0] ~ " gcode offset should always be (0,0,0)!") if (newval.x|default(0)|float != 0 or newval.y|default(0)|float != 0 or newval.z|default(0)|float != 0) and i == 0 %}
  {% endfor %}
  {% if missing|length == 0 and warnings|length == 0 and removed|length == 0 %}
    #RESPOND MSG="<span style='color:green;'>All tool offsets and calibration probe keys are valid.</span>"
  {% else %}
    {% set out = [] %}
    {% if repaired|length > 0 %} {% set _ = out.append("<span style='color:orange;'>Fixed: " ~ repaired|join(", ") ~ "</span>") %} {% endif %}
    {% if missing|length > 0 %} {% set _ = out.append("<span style='color:secondary;'>created the missing keys:  " ~ missing|join(", ") ~ "</span>") %} {% endif %}
    {% if removed|length > 0 %} {% set _ = out.append("<span style='color:error;'> Removed invalid entry: " ~ removed|join(", ") ~ "</span>") %} {% endif %}
    {% for w in warnings %} {% set _ = out.append("<span style='color:warning;'>" ~ w ~ "</span>") %} {% endfor %}
    RESPOND MSG={out|join(nl)}
  {% endif %}

