[force_move]

#SET_KINEMATIC_POSITION [X=<value>] [Y=<value>] [Z=<value>] [SET_HOMED=<[X][Y][Z]>] [CLEAR_HOMED=<[X][Y][Z]>]

#########################################################################################
#    [homing_override]    ###############################################################
#########################################################################################
[homing_override] # fix check if we crashed
axes: xyz
gcode:
    {% set p = printer %}
    {% set tc = p.toolchanger %}
    {% set tcs = p['gcode_macro _toolchanger_settings'] %}
    {% set actn = p.tool_probe_endstop.active_tool_number|int %}
    {% set restoreAccel = p.toolhead.max_accel|float %}
    {% set homeparams = 'X Y Z' if 'X' not in params and 'Y' not in params and 'Z' not in params else rawparams %}
    {% if (tc.status != "ready" or tc.tool_number != actn or actn == -1) and tc.status != "error" %} 
      INITIALIZE_TOOLCHANGER 
    {% else %}
        DETECT_ACTIVE_TOOL_PROBE
        
        _TAP_PROBE_ACTIVATE 
        STOP_TOOL_PROBE_CRASH_DETECTION
        SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0
        G90
        # if we are quite far to the front, move back first
        {% if 'Z' in homeparams and p.toolhead.position[1] < tc.params_safe_y - 50 and p.toolhead.position[1]|int != 0 and p.toolhead.position[2] > 100 and 'XYZ' in p.toolhead.homed_axes|upper %} 
          {% if tcs.macro_accel_divider|default(False) %} 
            SET_VELOCITY_LIMIT ACCEL={(p.configfile.config.printer.max_z_accel|float / tcs.macro_accel_divider|float)|int} 
          {% endif %}
          # move to save postion if we are up at the docs.
          G0 Y{tc.params_safe_y} 
        {% endif %}# p.toolhead.homed_axes contains "xyz" after setting kin pos 
        # divide accel if we want to
        {% if tcs.macro_accel_divider|default(False) %} 
          SET_VELOCITY_LIMIT ACCEL={(p.configfile.config.printer.max_z_accel|float / tcs.macro_accel_divider|float)|int} 
        {% endif %}
        # do a z home first.
        {% if 'Z' not in p.toolhead.homed_axes|upper %} 
          G28 Z 
        {% endif %}
        G0 Z10 F2500  
        # home Y first
        {% if 'Y' in homeparams or 'X' in homeparams %} 
          HOME_Y 
        {% endif %}
        # home X next
        {% if 'X' in homeparams %}
           HOME_X
        {% endif %}
        # home z last
        {% if 'Z' in homeparams %}
          HOME_Z
        {% endif %}
        # load gcode offsets, restore acceleration.
        
        TC_LOAD_OFFSETS # ❌ note: whatever you change this must stay at the end of whatever youre doing
        STATUS_READY
        SET_VELOCITY_LIMIT ACCEL={restoreAccel}
    {% endif %}

#########################################################################################
#    HOME_X   
#########################################################################################
[gcode_macro HOME_X]
variable_retract_after_home: 10
gcode:
  # save current acceleration
  {% set restoreAccel = printer.toolhead.max_accel|float %}
  {% set tcs = printer['gcode_macro _toolchanger_settings'] %}
  # set accel based on setting.
  {% if tcs.get('macro_accel_divider', False) %} SET_VELOCITY_LIMIT ACCEL={(printer.configfile.config.printer.max_accel|float // tcs.macro_accel_divider|float)|int} {% endif %}
  # get homing direction
  {% set x_dir = 1 if printer.configfile.config['stepper_x']['homing_positive_dir'] == True else 0 %}
  {% set y_dir = 1 if printer.configfile.config['stepper_y']['homing_positive_dir'] == True else 0 %}
  #────────────────────────────────────────────────────────────────────────────────────────
  # home X
  G28 X
  # relative move
  G91
  # retract a bit 
  G0 X{retract_after_home|int * x_dir} Y{retract_after_home|int * y_dir} F{printer.toolchanger.params_fast_speed}
  # absolute mode
  G90
  SET_VELOCITY_LIMIT ACCEL={restoreAccel}

#########################################################################################
#    HOME_Y   
#########################################################################################
[gcode_macro HOME_Y]
gcode:
  # save current acceleration
  {% set restoreAccel = printer.toolhead.max_accel|float %}
  {% set tcs = printer['gcode_macro _toolchanger_settings'] %}
  # set accel based on setting.
  {% if tcs.get('macro_accel_divider', False) %} 
    SET_VELOCITY_LIMIT ACCEL={(printer.configfile.config.printer.max_accel|float // tcs.macro_accel_divider|float)|int} 
  {% endif %}
  #────────────────────────────────────────────────────────────────────────────────────────
  # home Y
  G28 Y
  # restore last acceleration
  SET_VELOCITY_LIMIT ACCEL={restoreAccel}

#########################################################################################
#    HOME_Z   
#########################################################################################
[gcode_macro HOME_Z]
# randomly shifts the XY position on z home by that amount.
# prevents excessive wear of a single spot on heated bed.
variable_z_home_xy_random: 10
gcode:
  # save current acceleration
  {% set restoreAccel = printer.toolhead.max_accel|float %}
  {% set tcs = printer['gcode_macro _toolchanger_settings'] %}
  {% set step_x = printer.configfile.config['stepper_x'] %}
  {% set step_y = printer.configfile.config['stepper_y'] %}
  {% set center_x = ((step_x.position_max|float) / 2.0) + ((range((z_home_xy_random|int * -5), (z_home_xy_random|int * 5))|random) / 10.0) %}
  {% set center_y = ((step_y.position_max|float) / 2.0) + ((range((z_home_xy_random|int * -5), (z_home_xy_random|int * 5))|random) / 10.0) %}

  {% if tcs.get('macro_accel_divider', False) %} 
    SET_VELOCITY_LIMIT ACCEL={(printer.configfile.config.printer.max_accel|float // tcs.macro_accel_divider|float)|int} 
  {% endif %}
  #────────────────────────────────────────────────────────────────────────────────────────
  G0 X{center_x|round(2)} Y{center_y|round(2)} F{printer.toolchanger.params_fast_speed}

  {% if tcs.get('macro_accel_divider', False) %} 
    SET_VELOCITY_LIMIT ACCEL={(printer.configfile.config.printer.max_z_accel|float // tcs.macro_accel_divider|float)|int} 
  {% endif %}
  G28 Z


  _TC_ADJUST_HOME_OFFSET  # ❌ note: whatever you change this must stay at the end of whatever youre doing
  
  SET_VELOCITY_LIMIT ACCEL={restoreAccel}



[gcode_macro G32] # todo check for status message defiens?
gcode:
    {% import toolchanger_helper as tc with context %}
    {tc.check_ok()}
    
    QUAD_GANTRY_LEVEL
    MOVE_TO_CENTER
    G28

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description: "Fine/Coarse."
variable_fine_move: 0.5
gcode:
    {% if 'quad_gantry_level' in printer %}
        {% import toolchanger_helper as tc with context %}
        {tc.check_ok()}

        {% if rawparams %}
            _QUAD_GANTRY_LEVEL {rawparams}
        {% elif printer.quad_gantry_level.applied == False %}
            _QUAD_GANTRY_LEVEL RETRY_TOLERANCE={fine_move} # get within range so that fine doesnt scrape
            _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z={fine_move}  # <- set your preferred probing height here!
            MOVE_TO_CENTER 
        {% else %}
            _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z={fine_move}
        {% endif %}
    {% endif %}




# BED_MESH_CALIBRATE PROFILE=<name> METHOD=[manual | automatic | scan | rapid_scan]
# [<probe_parameter>=<value>] [<mesh_parameter>=<value>] [ADAPTIVE=[0|1] [ADAPTIVE_MARGIN=<value>]

# BED_MESH_CLEAR
# BED_MESH_PROFILE SAVE=<name> LOAD=<name> REMOVE=<name>
[gcode_macro TOOL_BED_MESH_CALIBRATE]
gcode:
      {% set tool_z_offset = printer[printer.toolchanger.tool].gcode_z_offset %}
      G90 ; absolute mode
      G0 Z10 F1000
      # Bed mesh knows about the probe offset, but not about the tool offset.
      # fix that doesnt seems right? it knows about both, right?
      M400
      SET_KINEMATIC_POSITION Z={10.0-tool_z_offset|float}
      BED_MESH_CALIBRATE
      G0 Z10 F1000
      SET_KINEMATIC_POSITION Z={10.0+tool_z_offset|float}





[gcode_macro SET_GCODE_OFFSET]
rename_existing: _SET_GCODE_OFFSET_ORIGINAL
description: "highjacked version (_SET_GCODE_OFFSET_ORIGINAL is the original), when called with z-adjust will 'babystep' it all!"
gcode:
    {% if 'Z_ADJUST' in params %}

        {% import toolchanger_helper as tc with context %}

        {% if 'xyz' in printer.toolhead.homed_axes|lower %}
            #───< move by that amount
            SAVE_GCODE_STATE NAME=TC_ADJUST_Z_ALL
            G91
            G0 Z{params.Z_ADJUST} #───< move by amount, convince printer we didnt.
            SET_KINEMATIC_POSITION Z={printer.toolhead.position[2]}
            RESTORE_GCODE_STATE NAME=TC_ADJUST_Z_ALL
        {% endif %}

        #───< update every probe with our new offsets 
        {% for tname in printer.toolchanger.tool_names %}
            {% set key = 'offsets_' ~ tname|lower|replace('tool ', '') ~ '.probe'%}
            {tc.svf_edit_value(key, params.Z_ADJUST)}
        {% endfor %}
        {tc.svf_edit_value('probe_position.trigger_to_bottom_z', -1.0 * (params.Z_ADJUST|float))}
    {% else %}
        _SET_GCODE_OFFSET_ORIGINAL {rawparams}
    {% endif %}





[gcode_macro TC_LOAD_OFFSETS]
description: "Loads offsets for a tool, syncing from [save_variables] if they differ. Usage: TC_LOAD_OFFSETS T=<tool_number>"
gcode:
    # ------------------ SETUP AND HELPER LOADING ------------------
    {% import toolchanger_helper as tc with context %}
    {% set tn = params.T|int if 'T' in params else tc_helper.get_mounted_tn()|int %}

    # ------------------ MAIN LOGIC ------------------
    {% if tn != -1 %}
        {% set ns = namespace(needs_sync=False) %}
        {% set tool_name = printer.toolchanger.tool_names[tn] %}
        {% set svf_key = 'offsets_' ~ tool_name|replace('tool ', '')|lower %}
        {% set svf_offsets = printer.save_variables.variables.get(svf_key, {}) %}
        # --- Get Offsets from Both Sources
        {% set live_offsets = {
            'x': printer[tool_name].gcode_x_offset,
            'y': printer[tool_name].gcode_y_offset,
            'z': printer[tool_name].gcode_z_offset
        } %}
        # --- Compare and Sync if Necessary
        {% for axis in ['x', 'y', 'z'] if not ns.needs_sync %}
            {% set ns.needs_sync = (live_offsets[axis]|round(3)) != (svf_offsets.get(axis, 0)|float(0)|round(3)) %}
        {% endfor %}
        # --- If a sync is needed, use helper to update the live state
        {% if svf_offsets and ns.needs_sync %}
            { tc.update_tool_offsets_from_svf(tn) }
        {% endif %}
        SET_GCODE_OFFSET X={svf_offsets.get('x', 0)} Y={svf_offsets.get('y', 0)} Z={svf_offsets.get('z', 0)} MOVE=0
    {% else %}
        {tc._msg_error("TC_LOAD_OFFSETS: No tool specified via 'T=' and no tool is currently active.") }
    {% endif %}






[gcode_macro _TC_ADJUST_HOME_OFFSET]
description: Depending on the selected tool at the time of homing, the physical Z endstop position is offset. This corrects for that using current tool offset.
variable_macro_html: "?tCorrects for the missing gcode offset at the time of probing (homing z).?nDrives to Z10 and setting kinematic position to Z(10 + probe + z offset)?p_TC_ADJUST_HOME_OFFSET "
variable_height_to_adjust_at: 5 
gcode:
    # ── variables alias ─────────────────────
    {% set msg = macro_html %}
    {% set p = printer %}
    {% set max_offset = p['gcode_macro _toolchanger_settings'].get('svf', {}).get('max_offs', 999) * 2 %}

    {% set tc, tpes = p.toolchanger, p.tool_probe_endstop %}
    {% set actn, probe_offset = tpes.active_tool_number|int, tpes.active_tool_probe_z_offset|float %}
    {% set tool = p[tc.tool_names[actn]] %}

    {% if actn != -1 %}
        {% if probe_offset == 0 %}
            {% set msg = msg ~ "?tProbe offset is 0. Defaulting to -1.4 as a safety measure.?s3?mProbe offset is ?c0?c!" %}
            {% set probe_offset = -1.400 %}
        {% endif %}
        # ── total calc + sanity check ───────────────────── 
        {% set total_offset = (tool.gcode_z_offset|float + probe_offset)|round(4) %}

        {% set msg = msg ~ "?s3?tgcode z offset for " ~ tool.name ~ " appears to be 0, although it is not T0.?mPlease verify your offsets!" if "0" not in tool.name and tool.gcode_z_offset == 0 else msg %}
        {% set msg = msg ~ "?s4?t?mCalculated total offset (" ~ total_offset ~ "mm) seems unusual. Please check tool offsets." if total_offset|abs > max_offset|abs else msg %}
        {% set msg = msg ~ "?t?s0?mHome shifted by: ?c" ~ total_offset ~ "mm?c" %}

        # ── offset application ───────────────────── 
        G90
        G0 Z{height_to_adjust_at} F1000
        M400
        SET_KINEMATIC_POSITION Z={height_to_adjust_at + total_offset}
        TC_LOAD_OFFSETS
    {% else %}
        {% set msg = msg ~ "?tNo tool found. Please reinitialize or detect active tool probe to fix this.?s4?mCouldnt adjust home, no active tool probe." %}
        SET_KINEMATIC_POSITION CLEAR_HOMED=XYZ
    {% endif %}
    _UNIFIED_RESPOND MSG="{msg}"




      








      