
# 
# In here one finds stuff like temperature commands 
# global required macros, and or fan stuffs
# just command forwards basically, aswell as misc helpers
# 

[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
gcode:
    {% set p, tc = printer, printer.toolchanger %}
    # ── message helpers -------------------------------------------------------
    {% macro msg(s, prefix_color="--v-accent-base", msg_color="--p-text-color2") %}
        {% set desc = printer.configfile.settings['gcode_macro m104'].description|e %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">M104 </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}
    {% macro err(s) %}{ msg(s, prefix_color="--v-error-base", msg_color="--v-warning-base") }{% endmacro %}

    # ── other helpers ---------------------------------------------------------
    {% macro tool_key(n) %}{ tc.tool_names[n|int]|replace('tool ', '') }{% endmacro %}

    # ── Parse parameters ------------------------------------------------------
    {% set tn   = params['T']|d(tc.tool_number)|int %}
    {% set temp = params['S']|d(0)|float(0) %}

    # ── Resolve remapped T-commands during a print ---------------------------
    {% if p.print_stats.state|lower == 'printing' and 'gcode_macro T' ~ tn in p %}
        {% set tn = p['gcode_macro T' ~ tn].tool_number|d(tn) %}
    {% endif %}

    # ── Sanity checks & heater lookup ----------------------------------------
    {% if tn in tc.tool_numbers %}
        {% set extruder = p[tc.tool_names[tn]].extruder %}
        {% if extruder %}
            {% set cur_target = p[extruder].target   %}
            SET_HEATER_TEMPERATURE HEATER={extruder} TARGET={temp}
            {% if cur_target != temp %}
                {% if temp == 0.0 %}
                    { msg('turning off ' ~ tool_key(tn) ~ '\'s heater') }
                {% else %}
                    { msg(('lowering ' if cur_target > temp else 'heating ') ~ tool_key(tn) ~ ' to ' ~ temp|round(1) ~ ' °C') }
                {% endif %}
            {% endif %}
        {% else %}v
            { msg('no extruder on' ~ tool_key(tn)) }
        {% endif %}
    {% elif tn == -1 %}
        { err('no tool selected') }
    {% else %}
        { err('unknown tool number ' ~ tn) }
    {% endif %}


[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>] [D<deadband>] [L<min temp>] [U<max temp>]
variable_default_deadband: 5.0 # Default ± deadband
gcode:
    {% set p, tc = printer, printer.toolchanger %}
    # ── message helpers -------------------------------------------------------
    {% macro msg(s, prefix_color="--v-accent-base", msg_color="--p-text-color2") %}
        {% set desc = printer.configfile.settings['gcode_macro m109'].description|e %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">M109 </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}
    {% macro err(s) %}{ msg(s, prefix_color="--v-error-base", msg_color="--v-warning-base") }{% endmacro %}
    # ── other helpers ---------------------------------------------------------
    {% macro tool_key(n) %}{ tc.tool_names[tc.tool_numbers.index(n)|int]|replace('tool ', '') }{% endmacro %}

    # ── Parse parameters ------------------------------------------------------
    {% set tn       = params['T']|d(tc.tool_number)|int %}
    {% set target   = params['S']|d(0)|float(0) %}
    {% set deadband = params['D']|d(default_deadband)|float %}
    {% set min_temp = params['L']|d(none)|float(none) %}
    {% set max_temp = params['U']|d(none)|float(none) %}

    # ── Resolve remapped T-commands during a print ---------------------------
    {% if p.print_stats.state|lower == 'printing' and 'gcode_macro T' ~ tn in p %}
        {% set tn = p['gcode_macro T' ~ tn].tool_number|d(tn) %}
    {% endif %}

    # ── Sanity checks & heater lookup ----------------------------------------
    {% if tn in tc.tool_numbers %}
        {% set extruder = p[tc.tool_names[tc.tool_numbers.index(tn)]].extruder %}
        {% if extruder %}
            {% set cur_target = p[extruder].target   %}

            # ── 0 °C or below = turn heater off --------------------------------
            {% if target <= 0 %}
                { msg('turning off ' ~ tool_key(tn) ~ '\'s heater') }
                SET_HEATER_TEMPERATURE HEATER={extruder} TARGET={target}
            {% else %}

                # ── Build MIN / MAX window -----------------------------------
                {% set min_temp = target - deadband if min_temp is none else min_temp %}
                {% set max_temp = target + deadband if max_temp is none else max_temp %}

                # ── Apply set-point and message if it differs ----------------
                SET_HEATER_TEMPERATURE HEATER={extruder} TARGET={target}
                {% if (cur_target - target)|abs > 10 %}    
                    #{msg(('lowering ' if cur_target > target else 'heating ') ~ tool_key(tn) ~ ' to ' ~ target|round(1) ~ ' °C', 'M109', 'grey')}
                {% endif %}

                # ── Wait until within range ----------------------------------
                { msg('waiting for ' ~ tool_key(tn) ~ ' to be between ' ~ min_temp|round(1) ~ '–' ~ max_temp|round(1) ~ ' °C') }
                TEMPERATURE_WAIT SENSOR={extruder} MINIMUM={min_temp} MAXIMUM={max_temp}
            {% endif %}
        {% else %}
            { err('tool ' ~ tool_key(tn) ~ ' has no extruder') }
        {% endif %}
    {% elif tn == -1 %}
        { err('no tool selected')}
    {% else %}
        { err('unknown tool number ' ~ tn) }
    {% endif %}


# ── Tap probe temp handling ----------------------------------
[gcode_macro _TAP_PROBE_ACTIVATE]
description: Ensure safe temp for bed probing with tap nozzle probes
variable_message_spam_debounce: 5 # in seconds
variable_ignore_while_not_printing: {
        'min': True,
        'max': False
    }
variable_temp_range: {
        'min': 150,
        'max': 180,                
    }

variable_last_msg: 0
variable_last_target: None
gcode:
    #------------------------------------------------------------------------------------
    {% macro msg(s, prefix_color="--v-accent-base", msg_color="--p-text-color2") %}
        {% set desc = printer.configfile.settings['gcode_macro _tap_probe_activate'].description|e %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">_TAP_PROBE_ACTIVATE </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}

    #------------------------------------------------------------------------------------
    {%- macro get_active_extruder() -%}
        {%- if printer.toolchanger and 'tool_probe_endstop' in printer -%}
            {%- set tn = printer.tool_probe_endstop.active_tool_number|int -%}
            {%- set tool = printer.toolchanger.tool_names[tn] if tn >= 0 else printer.toolchanger.tool -%}
        {%- elif printer.toolchanger and 'probe_multiplexer' in printer -%}
            {%- set pm = printer.probe_multiplexer -%}
            {%- set tn = (pm.probe_number|default(-1)|int) if pm else -1 -%}
            {%- set tool = printer.toolchanger.tool_names[tn] if tn >= 0 else printer.toolchanger.tool -%}
        {%- elif printer.toolchanger -%}
            {%- set tool = printer.toolchanger.tool -%}
        {%- endif -%}
        { printer[tool].extruder if tool else printer.toolhead.extruder }
    {%- endmacro -%}

    #------------------------------------------------------------------------------------
    {% set extr             = get_active_extruder() %}
    {% set temp, target     = printer[extr].temperature, printer[extr].target %}
    {% set cfg_max, cfg_min = temp_range['max']|int, temp_range['min']|int %}
    {% set ign_max, ign_min = ignore_while_not_printing['max'], ignore_while_not_printing['min'] %}

    # spoof limits while not printing if we want
    {% set printing    = printer.print_stats.state|lower == 'printing' %}
    {% set max_t       = cfg_max if printing or not ign_max else  1e9 %}
    {% set min_t       = cfg_min if printing or not ign_min else -1e9 %}

    {% set wanted_t    = ((cfg_min + cfg_max) / 2.0)|int %}
    {% set need_adjust = not ( min_t <= target <= max_t ) %}

    #------------------------------------------------------------------------------------
    {% set m = '' %}
    {% if need_adjust %}
        {% set m = m ~ "Target not suitable for probing, adjusting: " ~ target ~ "°C → " ~ wanted_t ~ "°C" %}
        {% if temp > max_t %}
            {% set m = m ~ ' and waiting until ≤ ' ~ max_t ~ '°C.' %}
            {% set wait_high = True %}
        {% elif temp < min_t %}
            {% set m = m ~ ' and waiting until ≥ ' ~ min_t ~ '°C.' %}
            {% set wait_low  = True %}
        {% else %}
            {% set m = m ~ '.' %}
        {% endif %}
    {% elif temp > max_t and not (ign_max and printing) %}
        {% set m = m ~ "Current " ~ temp ~ "°C is high → waiting until temp ≤ " ~ max_t ~ "°C." %}
        {% set wait_high = True %}
    {% elif temp < min_t and not (ign_min and printing) %}
        {% set m = m ~ "Current " ~ temp ~ "°C is low → waiting until temp ≥ " ~ min_t ~ "°C." %}
        {% set wait_low  = True %}
    {% endif %}

    # 5 s hysteresis to avoid spam on repeated probes
    { msg(m) if m and printer.toolhead.estimated_print_time - last_msg >= message_spam_debounce|float else '' }

    #------------------------------------------------------------------------------------
    {% if need_adjust %}
        SET_HEATER_TEMPERATURE HEATER="{extr}" TARGET={wanted_t}
        SET_GCODE_VARIABLE MACRO=_TAP_PROBE_ACTIVATE VARIABLE=last_target VALUE="{{'extruder': extr, 'target':target}}"
    {% endif %}

    {% if wait_high %}
        TEMPERATURE_WAIT SENSOR="{extr}" MAXIMUM={max_t+5}
    {% elif wait_low %}
        TEMPERATURE_WAIT SENSOR="{extr}" MINIMUM={min_t-5}
    {% endif %}

[gcode_macro _TAP_PROBE_DEACTIVATE]
description: Restores what _TAP_PROBE_ACTIVATE may have changed
gcode:
    {% set last_target = printer['gcode_macro _TAP_PROBE_ACTIVATE'].get('last_target', None) %}
    {% if last_target and last_target is mapping and 'extruder' in last_target and 'target' in last_target %}
        SET_HEATER_TEMPERATURE HEATER={last_target.extruder} TARGET={last_target.target}
        SET_GCODE_VARIABLE MACRO=_TAP_PROBE_ACTIVATE VARIABLE=last_target VALUE=None
    {% endif %}
    SET_GCODE_VARIABLE MACRO=_TAP_PROBE_ACTIVATE VARIABLE=last_msg VALUE={printer.toolhead.estimated_print_time}

    
# -----------------------------------------



[gcode_macro SAVE_TOOLTEMP_STATE]
description: Save tool heater targets for later RESTORE_TOOLTEMP_STATE
variable_slots: {}
gcode:
    {% set name = params.NAME|d('default') %}
    {% set targets = {} %}
    {% for _name in printer.toolchanger.tool_names if printer.toolchanger %}
        {% set tool = printer[_name] %}
        {% if tool.extruder %}
            {% set _ = targets.update( {tool.tool_number: printer[tool.extruder].target} ) %}
        {% endif %}
    {% else %}
        RESPOND TYPE=error MSG="SAVE_TOOLTEMP_STATE: missing [toolchanger]"
    {% endfor %}
    {% for tn, _ in targets.items() if params.DISABLE|d(0)|int %}
        M104 T{tn} S0
    {% endfor %}
    {% set _ = slots.update( {name: targets} ) %}
    SET_GCODE_VARIABLE MACRO=SAVE_TOOLTEMP_STATE VARIABLE=slots VALUE="{slots}"

[gcode_macro RESTORE_TOOLTEMP_STATE]
description: Restore tool heater targets saved by SAVE_TOOLTEMP_STATE
gcode:
    {% set name = params.NAME|d('default') %}
    {% set slots = printer['gcode_macro SAVE_TOOLTEMP_STATE'].slots %}
    {% set targets = slots.get(name, {}) %}
    {% for tn, target in targets.items() if targets %}
        M104 T{tn} S{target}
    {% else %}
        RESPOND TYPE=error MSG="RESTORE_TOOLTEMP_STATE: missing state '{name}'"
    {% endfor %}
    {% for tn, target in targets.items() if params.WAIT|d(1)|int %}
        M109 T{tn} S{target}
    {% endfor %}
    {% set _ = slots.pop(name, None) %}
    SET_GCODE_VARIABLE MACRO=SAVE_TOOLTEMP_STATE VARIABLE=slots VALUE="{slots}"



[gcode_macro SET_PRESSURE_ADVANCE]
rename_existing: _SET_PRESSURE_ADVANCE
description: Wrapper that forwards to _SET_PRESSURE_ADVANCE and prints a styled summary, ignored ADVANCE=0
gcode:
    {% set SELF = 'SET_PRESSURE_ADVANCE' %}

    {% macro msg(s, prefix_color="--v-accent-base, orange", msg_color="--p-text-color2, grey") %}
        {% set desc = printer.configfile.settings['gcode_macro ' ~ SELF|lower].description|trim|trim('"')|trim("'") %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">" ~ SELF ~ " </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}
    {% macro err(s) %}{ msg(s, prefix_color="--v-error-base, red", msg_color="--v-warning-base, orange") }{% endmacro %}

    {% if params.keys()|list|length == 1 and params.ADVANCE|d('') == '0' %}
        # ignored. fuck orca crap fucsk ass retarded shit stupid advance ruining ages wastex fucking ertaded shit orca slicer crap why the fuck does it do this anyways this is the most fucking eratded fucking shit shit ever
    {% else %}
        # try to get from toolchanger
        {% set extruder = params.pop('EXTRUDER', None) %}
        {% if extruder is none and printer.toolchanger.tool %}
            {% set tool = printer[printer.toolchanger.tool] if printer.toolchanger.tool %}
            {% set extruder = tool.extruder if tool and tool.extruder else None %}
            {% set rawparams = (('EXTRUDER=' ~ extruder ~ ' ') if extruder else '') ~ rawparams %}
        {% elif extruder is none %} # else get it from the toolhead
            {% set extruder = printer.toolhead.extruder %}
        {% endif %}

        {% if 'extruder' in rawparams|lower %}
            _SET_PRESSURE_ADVANCE {rawparams}
        {% endif %}

        {% set m = [] %}
        {% set PARAM_TO_FIELD = {
            'advance':     'linear_advance',
            'offset':      'nonlinear_offset',
            'time_offset': 'time_offset',
            'velocity':    'linearization_velocity',
            'smooth_time': 'smooth_time',
        } %}

        {% for k in params.keys() if k|lower in PARAM_TO_FIELD and extruder is not none %}
            {% set old_val = printer[extruder].get(PARAM_TO_FIELD[k|lower], None) %}
            {% set new_val = params[k]|float(params[k]) %}
            {% set old_val = ('%.5f' % (old_val)) if old_val is number else old_val %}
            {% set new_val = ('%.5f' % (new_val)) if new_val is number else new_val %}
            {% set _ = m.append(PARAM_TO_FIELD[k|lower] ~ ' (' ~ old_val ~ ' → ' ~ new_val ~ ')' ) %}
        {% else %}
            { err('bro your tool aint got no extruder...') }
        {% endfor %}
        
        {% set tt = printer.printer.lookup_object('tuning_tower', None) %}
        {% if not tt or (tt and not tt.is_active()) and extruder is not none %}
            { msg(extruder ~ ' — ' ~ m|join('\n')) if m else '' }
        {% endif %}
    {% endif %}
