#################################################################################################################
# _SHAPER_CONFIG_CHECK ##########################################################################################
#################################################################################################################
[gcode_macro _SHAPER_CONFIG_CHECK]
description:"checks the input shaper configuration and reports back missing settings."
variable_first_run: 1
gcode:
    {% if first_run %}
        {% if "input_shaper" in printer.configfile.config %}
            {% set input_shaper_keys = ["shaper_freq_x","shaper_freq_y","damping_ratio_x","damping_ratio_y"] %}
            {% set shaper_config = printer.configfile.config["input_shaper"] %}
            {% for key in input_shaper_keys %}
                {% if key not in shaper_config %}
                    _WARNING_RESPOND MSG="$_SHAPER_CONFIG_CHECK$ | {key} missing in [input_shaper]"
                {% else %}
                    #_VALID_RESPOND MSG="$_SHAPER_CONFIG_CHECK$ | {key} defined in [input_shaper]"
                {% endif %}
            {% endfor %}
        {% else %}
            _WARNING_RESPOND MSG="$_SHAPER_CONFIG_CHECK$ | [input_shaper] section missing in printer.cfg"
        {% endif %}
        {% set required_keys = ["params_input_shaper_freq_x","params_input_shaper_freq_y","params_input_shaper_damping_ratio_x","params_input_shaper_damping_ratio_y"] %}
        {% for name in printer.toolchanger.tool_names %}
            {% set tool_obj = printer[name] %}
            {% for key in required_keys %}
                {% if key not in tool_obj %}
                    _WARNING_RESPOND MSG="$_SHAPER_CONFIG_CHECK$ | {key} missing in [{name}]"
                {% else %}
                    #_VALID_RESPOND MSG="$_SHAPER_CONFIG_CHECK$ | {key} defined in [{name}]"
                {% endif %}
            {% endfor %}
        {% endfor %}
        SET_GCODE_VARIABLE MACRO=_SHAPER_CONFIG_CHECK VARIABLE=first_run VALUE=0
    {% endif %}
    #TODO ADD ABILITY TO ALSO CHECK FOR DEFINITIONS IN THE SAVE_VARIABLES FILE
    #TODO ALSO CHECK THE [toolchanger] OBJECT AS AN OPTION OTHER THAN THE [input_shaper]
    #TODO _WARNING_RESPOND MSG="$_SHAPER_CONFIG_CHECK$ | params_input_shaper_freq_x MUST BE EITHER DEFINED IN TOOLCHANGER OR shaper_freq_x IN INPUT SHAPER AS A FALLBACK


        
#[gcode_macro SHAPER_AUTODETECT_CHECK]
#description: "Deep analysis of shaper sources and per-tool overrides. HTML output and diagnostics."
#gcode:
#    {% set input_keys = ["shaper_freq_x", "shaper_freq_y", "damping_ratio_x", "damping_ratio_y"] %}
#    {% set param_keys = ["params_input_shaper_freq_x", "params_input_shaper_freq_y", "params_input_shaper_damping_ratio_x", "params_input_shaper_damping_ratio_y"] %}
#    {% set short_keys = ["SX", "SY", "DX", "DY"] %}
#    {% set sources = namespace(default={}, tools={}) %}
#    {% for sn in short_keys %}
#        {% set _ = sources.default.update({sn: []}) %}
#    {% endfor %}
#
#    {% if "input_shaper" in printer.configfile.config %}
#        {% for i in range(4) %}
#            {% set k = input_keys[i] %}
#            {% set sn = short_keys[i] %}
#            {% if k in printer.configfile.config["input_shaper"] %}
#                {% set found = sources.default[sn] + ["input_shaper"] %}
#                {% set _ = sources.default.update({sn: found}) %}
#            {% endif %}
#        {% endfor %}
#    {% endif %}
#
#    {% if "toolchanger" in printer.configfile.config %}
#        {% for i in range(4) %}
#            {% set k = param_keys[i] %}
#            {% set sn = short_keys[i] %}
#            {% if k in printer.configfile.config["toolchanger"] %}
#                {% set found = sources.default[sn] + ["toolchanger"] %}
#                {% set _ = sources.default.update({sn: found}) %}
#            {% endif %}
#        {% endfor %}
#    {% endif %}
#
#    {% if printer.save_variables.config is defined %}
#        {% for i in range(4) %}
#            {% set k = param_keys[i] %}
#            {% set sn = short_keys[i] %}
#            {% if k in printer.save_variables.config %}
#                {% set found = sources.default[sn] + ["save_variables"] %}
#                {% set _ = sources.default.update({sn: found}) %}
#            {% endif %}
#        {% endfor %}
#    {% endif %}
#
#    {% for tool in printer.toolchanger.tool_names %}
#        {% set section = "tool " ~ tool %}
#        {% if section in printer.configfile.config %}
#            {% set entries = {} %}
#            {% for i in range(4) %}
#                {% set k = param_keys[i] %}
#                {% set sn = short_keys[i] %}
#                {% if k in printer.configfile.config[section] %}
#                    {% set _ = entries.update({sn: section}) %}
#                {% endif %}
#            {% endfor %}
#            {% if entries|length > 0 %}
#                {% set _ = sources.tools.update({tool: entries}) %}
#            {% endif %}
#        {% endif %}
#    {% endfor %}
#
#    {% set detail = [] %}
#    {% set status_msgs = [] %}
#    {% set status_color = "rgb(0,255,0)" %}
#    {% for i in range(4) %}
#        {% set sn = short_keys[i] %}
#        {% set found = sources.default.get(sn, []) %}
#        {% if found|length == 0 %}
#            {% set color = "rgb(255,0,0)" %}
#            {% set hover = "No default value found" %}
#            {% set status_msgs = status_msgs + [sn ~ " missing"] %}
#            {% set status_color = "rgb(255,0,0)" %}
#        {% elif found|length == 1 %}
#            {% set color = "rgb(0,255,0)" %}
#            {% set hover = "Defined in: " ~ found[0] %}
#        {% else %}
#            {% set color = "rgb(255,165,0)" %}
#            {% set hover = "Duplicate definitions: " ~ found|join(", ") %}
#            {% if status_color != "rgb(255,0,0)" %}
#                {% set status_color = "rgb(255,165,0)" %}
#            {% endif %}
#        {% endif %}
#        {% set line = "<span style='color:" ~ color ~ "' title='" ~ hover ~ "'>" ~ sn ~ " default</span><br>" %}
#        {% set detail = detail + [line] %}
#    {% endfor %}
#
#    {% set tool_lines = [] %}
#    {% for tool, values in sources.tools.items() %}
#        {% for i in range(4) %}
#            {% set sn = short_keys[i] %}
#            {% if sn in values %}
#                {% set hover = "Found in [" ~ values[sn] ~ "]" %}
#                {% set line = "<span style='color:rgb(0,200,255)' title='" ~ hover ~ "'>" ~ tool ~ " → " ~ sn ~ "</span><br>" %}
#                {% set tool_lines = tool_lines + [line] %}
#            {% endif %}
#        {% endfor %}
#    {% endfor %}
#
#    {% if status_msgs|length == 0 %}
#        {% set summary_msg = "Shaper config OK" %}
#        {% set hover = "All default shapers defined correctly." %}
#    {% else %}
#        {% set summary_msg = "Shaper config issues" %}
#        {% set hover = status_msgs|join(" | ") %}
#    {% endif %}
#
#    {% set summary_line = "<span style='color:" ~ status_color ~ "' title='" ~ hover ~ "'>" ~ summary_msg ~ "</span>" %}
#    RESPOND MSG={summary_line}
#
#    {% set final_html = "<div style='line-height:1.4;font-family:monospace'>" 
#        ~ (detail|join("")) 
#        ~ "<hr>" 
#        ~ (tool_lines|join("")) 
#        ~ "</div>" %}
#    RESPOND MSG={final_html}
#