#
# This file is dedicated to loading your tool shapers or default from a save variables file or from the tool parameters.
# It is meant to work universally always loading the correct ones.
# 
# you should not need to change this.
#
#
#
#
#################################################################################################################
# _SHAPER_CONFIG_CHECK ##########################################################################################
#################################################################################################################
[gcode_macro LOAD_SHAPERS]
description: "Loads shaper values, preferably from tool, if not default (TODO: or save variables file)"
variable_lastshapers_sx=0.00
variable_lastshapers_sy=0.00
variable_lastshapers_dx=0.00
variable_lastshapers_dy=0.00
gcode:
    #_SHAPER_CONFIG_CHECK {rawparams}
    {% if "input_shaper" in printer.configfile.config %}
        {% set tn = params.T|default(printer.tool_probe_endstop.active_tool_number)|int %}
        {% set tool = printer.toolchanger.tool_names[tn]|default('') %}
        {% set shaper_config = printer.configfile.config["input_shaper"] %}
        {% set tool_config = printer.configfile.config.get("tool T" ~ tn, {}) %}

        {% set last_shapers = {"SX": lastshapers_sx, "SY": lastshapers_sy, "DX": lastshapers_dx, "DY": lastshapers_dy} %}
        {% set printer_shapers = {"SX": 0, "SY": 0, "DX": 0, "DY": 0} %}
        {% set shapers_to_load = {"SX": 0, "SY": 0, "DX": 0, "DY": 0} %}

        {% if "shaper_freq_x" in shaper_config %}
            {% set _ = printer_shapers.update({"SX": shaper_config["shaper_freq_x"]|float}) %}
        {% endif %}
        {% if "shaper_freq_y" in shaper_config %}
            {% set _ = printer_shapers.update({"SY": shaper_config["shaper_freq_y"]|float}) %}
        {% endif %}
        {% if "damping_ratio_x" in shaper_config %}
            {% set _ = printer_shapers.update({"DX": shaper_config["damping_ratio_x"]|float}) %}
        {% endif %}
        {% if "damping_ratio_y" in shaper_config %}
            {% set _ = printer_shapers.update({"DY": shaper_config["damping_ratio_y"]|float}) %}
        {% endif %}
        {% if "params_input_shaper_freq_x" in tool_config %}
            {% set _ = shapers_to_load.update({"SX": tool_config["params_input_shaper_freq_x"]|float}) %}
        {% else %}
            {% set _ = shapers_to_load.update({"SX": printer_shapers["SX"]}) %}
        {% endif %} #TODO CLEAN UP THIS MESS
        {% if "params_input_shaper_freq_y" in tool_config %}
            {% set _ = shapers_to_load.update({"SY": tool_config["params_input_shaper_freq_y"]|float}) %}
        {% else %}
            {% set _ = shapers_to_load.update({"SY": printer_shapers["SY"]}) %}
        {% endif %}
        {% if "params_input_shaper_damping_ratio_x" in tool_config %}
            {% set _ = shapers_to_load.update({"DX": tool_config["params_input_shaper_damping_ratio_x"]|float}) %}
        {% else %}
            {% set _ = shapers_to_load.update({"DX": printer_shapers["DX"]}) %}
        {% endif %}
        {% if "params_input_shaper_damping_ratio_y" in tool_config %}
            {% set _ = shapers_to_load.update({"DY": tool_config["params_input_shaper_damping_ratio_y"]|float}) %}
        {% else %}
            {% set _ = shapers_to_load.update({"DY": printer_shapers["DY"]}) %}
        {% endif %}

        {% if shapers_to_load["SX"] != lastshapers_sx or shapers_to_load["SY"] != lastshapers_sy or shapers_to_load["DX"] != lastshapers_dx or shapers_to_load["DY"] != lastshapers_dy %}
            SET_GCODE_VARIABLE MACRO=LOAD_SHAPERS VARIABLE=lastshapers_sx VALUE={shapers_to_load["SX"]}
            SET_GCODE_VARIABLE MACRO=LOAD_SHAPERS VARIABLE=lastshapers_sy VALUE={shapers_to_load["SY"]}
            SET_GCODE_VARIABLE MACRO=LOAD_SHAPERS VARIABLE=lastshapers_dx VALUE={shapers_to_load["DX"]}
            SET_GCODE_VARIABLE MACRO=LOAD_SHAPERS VARIABLE=lastshapers_dy VALUE={shapers_to_load["DY"]}
            SET_INPUT_SHAPER SHAPER_FREQ_X={shapers_to_load["SX"]} SHAPER_FREQ_Y={shapers_to_load["SY"]} DAMPING_RATIO_X={shapers_to_load["DX"]} DAMPING_RATIO_Y={shapers_to_load["DY"]}
            _DEBUG_RESPOND MSG="$LOAD_SHAPERS$ | Updated shapers"
        {% else %}
        #_DEBUG_RESPOND MSG="$LOAD_SHAPERS$ | Shapers equal, unchanged"
        {% endif %}

        {% set space = '\u2003' %}
        {% set nl = '\u0026\u0023\u0031\u0030\u003b' %}
        {% set lines = [] %}
        {% set _ = lines.append("│       │ SX    │ SY    │ DX    │ DY    │") %}
        {% set _ = lines.append("│last  │ " ~ ("  " ~ last_shapers["SX"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ last_shapers["SY"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ last_shapers["DX"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ last_shapers["DY"]|round(3))[-6:] ~ " │") %}
        {% set _ = lines.append("│load │ " ~ ("  " ~ shapers_to_load["SX"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ shapers_to_load["SY"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ shapers_to_load["DX"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ shapers_to_load["DY"]|round(3))[-6:] ~ " │") %}
        {% set _ = lines.append("│print│ " ~ ("  " ~ printer_shapers["SX"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ printer_shapers["SY"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ printer_shapers["DX"]|round(3))[-6:] ~ " │ "  ~ ("  " ~ printer_shapers["DY"]|round(3))[-6:] ~ " │") %}
        {% set tooltip = lines|join(nl) %}
        RESPOND MSG="<span style='cursor:pointer; color:rgb(255,20,120);' title='{tooltip}'>LOAD_SHAPERS</span>"

    {% else %}
        _WARNING_RESPOND MSG="$LOAD_SHAPERS$ | printer has no shaper config, no changes made."
    {% endif %}



