[stepper_x]
high_precision_step_compress: ${constants.stepcompress_xyz}

[stepper_y]
high_precision_step_compress: ${constants.stepcompress_xyz}

[stepper_z]
high_precision_step_compress: ${constants.stepcompress_xyz}
[stepper_z1]
high_precision_step_compress: ${constants.stepcompress_xyz}
[stepper_z2]
high_precision_step_compress: ${constants.stepcompress_xyz}
[stepper_z3]
high_precision_step_compress: ${constants.stepcompress_xyz}


[mcu et0]
is_non_critical: ${constants.toolheads_hotplug}

[mcu et1]
is_non_critical: ${constants.toolheads_hotplug}

[mcu et2]
is_non_critical: ${constants.toolheads_hotplug}

[mcu et3]
is_non_critical: ${constants.toolheads_hotplug}

[mcu et4]
is_non_critical: ${constants.toolheads_hotplug}

#[mcu et5]
#is_non_critical: False #True #${constants.toolheads_hotplug}

[mcu et0]
reconnect_interval: 5

[mcu et1]
reconnect_interval: 5

[mcu et2]
reconnect_interval: 5

[mcu et3]
reconnect_interval: 5

[mcu et4]
reconnect_interval: 5
