# OPTIONAL - Examples only

# Original written by Viesturs Zarins

[gcode_macro CLEAN_NOZZLE]
gcode:
    _TOOLCHANGER_CLEAN_NOZZLE {rawparams}

[gcode_macro TOOLCHANGE_DEMO]
gcode:
    {% for n in range(20) %}
      T{ printer.toolchanger.tool_numbers | random }
    {% endfor %}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    G28 Z

[gcode_macro PRINT_STATUS]
gcode:
  {% set obj = params.OBJ %}
  RESPOND TYPE=echo MSG="Status for M190 {obj} is { printer[obj] }"

[gcode_macro UNSAFE_LOWER_BED]
description: Lower the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=50
  G0 Z0 F600
  M84

[gcode_macro UNSAFE_RAISE_BED]
description: Raise the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z50 F600
  M84


