#########################################################################################
#    [homing_override]    ###############################################################
#########################################################################################
[homing_override]
axes: xyz
gcode:
    {% set p = printer %}
    {% set restoreAccel = p.toolhead.max_accel|float %}
    {% set homeparams = 'X Y Z' if 'X' not in params and 'Y' not in params and 'Z' not in params else rawparams %}
    {% if p.toolchanger.status == uninitialized %} INITIALIZE_TOOLCHANGER {% endif %}
    {% if p.tool_probe_endstop.active_tool_number == -1 %}  #{% if p.probe.last_query %} # fix p.probe.last_query only updated when QUERY_PROBE, false even when tool detected...
        {% if 'Z' not in p.toolhead.homed_axes|upper %} SET_KINEMATIC_POSITION Z=0 {% endif %}
        _WARNING_RESPOND MSG="$[homing_override]$ | Z Probe triggered, rasing z a bit, call again to retry" # todo add delayed gcode to call this again if we arent printing? maybe? idk
        SET_VELOCITY_LIMIT ACCEL={p.configfile.config.printer.max_z_accel|float // p.toolchanger.params_macro_accel_divider|default(12)|float} # quiet for homing, slow anyway. why not make it quiet too
        _STEPPER_Z_SOFT_TURN_ON
        {% if p.toolhead.position[2]|float < 10 %} G0 Z10 F2500 {% endif %}
        SET_VELOCITY_LIMIT ACCEL={p.configfile.config.printer.max_z_accel|float}
        #_WARNING_RESPOND MSG="$[homing_override]$ | No tool probe detected, aborting home."
        DETECT_ACTIVE_TOOL_PROBE
    {% else %}
        STATUS_HOMING
        _STEPPER_Z_SOFT_TURN_ON
        STOP_TOOL_PROBE_CRASH_DETECTION
        SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0
        G90
        # if we are lower than this, move up not to scratch bed.
        {% if 'Z' not in p.toolhead.homed_axes|upper %} SET_KINEMATIC_POSITION Z=0 {% endif %}
        {% if p.toolhead.position[2]|float < 10 %}  
            SET_VELOCITY_LIMIT ACCEL={p.configfile.config.printer.max_z_accel|float // p.toolchanger.params_macro_accel_divider|default(12)|float}
            G0 Z10 F2500  
            SET_VELOCITY_LIMIT ACCEL={p.configfile.config.printer.max_accel|float // p.toolchanger.params_macro_accel_divider|default(12)|float}
        {% endif %}
        # if we are quite far to the front, move back first
        {% if 'Z' in homeparams and p.toolhead.position[1] < p.toolchanger.params_safe_y - 50 and p.toolhead.position[1]|int != 0 %} G0 Y{p.toolchanger.params_safe_y} {% endif %}# p.toolhead.homed_axes contains "xyz" after setting kin pos Z
        # todo possible do small Z home here?
        # home Y first
        {% if 'Y' in homeparams or 'X' in homeparams %} G28 Y {% endif %}
        # home X next
        {% if 'X' in homeparams %}
            G28 X
            G91
            G0 X-10 Y-10 F{p.toolchanger.params_fast_speed}
            G90
        {% endif %}
        {% if 'Z' in homeparams %}
            G0 X{175.0 + (range(-50, 50)|random)/5|round(2)} Y{175.0 + (range(-50, 50)|random)/5|round(2)} F{p.toolchanger.params_fast_speed}
            G28 Z
            _TC_ADJUST_HOME_OFFSET
        {% endif %}
        _TC_LOAD_OFFSETS
        M400
        STATUS_READY
        SET_VELOCITY_LIMIT ACCEL={restoreAccel}
    {% endif %}

#########################################################################################
#    _STEPPER_Z_SOFT_TURN_ON    #########################################################
#########################################################################################
[gcode_macro _STEPPER_Z_SOFT_TURN_ON]
description: Softly throttle current turn on of the z steppers to not make loud *BUMP* (and maybe not spike the PSU :P)
variable_default_steps: 25 # steps to do
variable_default_ramp_time: 250 # in ms
gcode:
    {% if printer.stepper_enable.steppers.stepper_z %} 
    {% else %}# todo check user isnt using stealthchop, and if he is, start ramp at 25% to allow internal TMC stealthchop calibration to not produce gibberish.
        {% set steps = params.STEPS|default(default_steps)|int %}
        {% set ramp_time = params.RAMP_TIME|default(default_ramp_time)|float %}
        {% set steppers = ['stepper_z', 'stepper_z1', 'stepper_z2', 'stepper_z3'] %}
        {% set tmcDrivers = ['tmc2130 stepper_z', 'tmc2208 stepper_z', 'tmc2209 stepper_z', 'tmc5160 stepper_z', 'tmc2240 stepper_z'] %}
        # check if tmc configured.
        {% for driver in tmcDrivers[:]|reverse %} {% set _ = tmcDrivers.remove(driver) if driver not in printer.configfile.settings %} {% endfor %}
        {% if tmcDrivers|length == 1 %}
            {% set step_delay = ramp_time / steps %}
            {% for i in range(steps) %}
                {% set curDuty = run_current*(i+1)/steps %}
                _SET_Z_STEPPER_CURRENT DUTY={i*(100/steps)}
                G4 P{step_delay|int}
            {% endfor %}
        {% endif %}
    {% endif %}


#########################################################################################
#    _SET_Z_STEPPER_CURRENT    ##########################################################
#########################################################################################
[gcode_macro _SET_Z_STEPPER_CURRENT]
description: Provide a current percentage (0-100) for all TMC-based Z steppers. Usage: _SET_Z_STEPPER_CURRENT duty=0..100
gcode:
    {% set duty = params.DUTY|default(100)|int %}
    # Potential Z stepper names
    {% set z_candidates = ['stepper_z', 'stepper_z1', 'stepper_z2', 'stepper_z3'] %}
    {% set driver_candidates = ['tmc2130', 'tmc2208', 'tmc2209', 'tmc5160', 'tmc2240'] %}
    {% for zstep in z_candidates %}
        {% if zstep in printer %}       # Check if zstep is defined in the printer
            {% for drv in driver_candidates %} # For each TMC driver type, build the config section name and see if it exists
                {% set config_name = drv ~ ' ' ~ zstep %}
                {% if config_name in printer.configfile.settings %}  # Found a TMC config section for this stepper
                    {% set run_cur = printer.configfile.settings[config_name].run_current|default(1.0)|float %}
                    {% set hold_cur = printer.configfile.settings[config_name].hold_current|default(1.0)|float %}
                    {% if duty == 0 %}
                        {% if zstep in printer.stepper_enable.steppers and printer.stepper_enable.steppers[zstep] %}
                            STEPPER_DISABLE STEPPER={zstep}
                            SET_TMC_CURRENT STEPPER={zstep} CURRENT={run_cur} HOLDCURRENT={hold_cur} # Force TMC currents back to normal (in case we had them scaled before)
                        {% endif %}
                    {% else %}
                        {% set new_run = run_cur * (duty / 100.0) %} # Scale currents by the duty% and set them
                        {% set new_hold = hold_cur * (duty / 100.0) %}
                        SET_TMC_CURRENT STEPPER={zstep} CURRENT={new_run} HOLDCURRENT={new_hold}
                        RESPOND MSG="new_run: {new_run}"
                        {% if zstep not in printer.stepper_enable.steppers or (zstep in printer.stepper_enable.steppers and not printer.stepper_enable.steppers[zstep]) %} # If the stepper is not enabled, then enable it
                            STEPPER_ENABLE STEPPER={zstep}
                            RESPOND MSG="enabled"
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}


#########################################################################################
#    _TC_ADJUST_HOME_OFFSET    ##########################################################
#########################################################################################
[gcode_macro _TC_ADJUST_HOME_OFFSET]
description: Depending on the selected tool at the time of homing, the physical Z endstop position is offset. This corrects for that using current tool offset.
variable_macro_html: "title='Corrects for the missing gcode offset at the time of probing (homing z).\u0026\u0023\u0031\u0030\u003bDrives to Z10 and setting kinematic position to Z(10 + probe + z offset)'>_TC_ADJUST_HOME_OFFSET </span>"
gcode:
      G90 ; absolute mode
      G0 Z10 F1000
      {% set tool = printer[printer.toolchanger.tool] %} # printer.toolchanger.tool is quite often "none"?
      {% if tool %}
         {% set svf = printer.save_variables.variables %} # fallback to regular offsets
         {% set offset_key = 'offsets_' ~ (tool|replace('tool ', '', 1))|string|lower %}
         {% set tool_off = svf[offset_key] if offset_key in svf else {"X":tool.gcode_x_offset,"Y":tool.gcode_y_offset,"Z":tool.gcode_z_offset, "probe":printer.tool_probe_endstop.active_tool_probe_z_offset} %}
         M400
         _DEBUG_RESPOND MSG="$_TC_ADJUST_HOME_OFFSET$ | Home Z shifted by: {(tool_off.Z|float+tool_off.probe|float)|round(3)} (z:{tool_off.Z|float|round(3)} + probe_z:{tool_off.probe|float|round(3)})"
         SET_KINEMATIC_POSITION Z={10.0+tool_off.Z|float+tool_off.probe|float}
      {% else %}
        RESPOND MSG="<span class='error--text'{macro_html}<span class='warning--text'i honestly dont know why it would be to be honest.... run &apos;DETECT_ACTIVE_TOOL_PROBE&apos; to temporarily fix it'>printer.toolchanger.tool is {printer.toolchanger.tool}</span>"
      {% endif %}   



#########################################################################################
# QUAD GANTRY LEVELING # 
#########################################################################################
[quad_gantry_level]
speed: 350
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.025
max_adjust: 10
gantry_corners:
   -70,-10
   410,420
points:
   30,80
   30,300
   310,300
   310,80



#########################################################################################

[gcode_macro G32]
gcode:
    STATUS_LEVELING
    #_TAP_PROBE_ACTIVATE
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    {% if 'xyz' not in printer.toolhead.homed_axes %}
      G28
    {% endif %}
    QUAD_GANTRY_LEVEL
    G28
    #PARK
    RESTORE_GCODE_STATE NAME=STATE_G32
    STATUS_READY



#########################################################################################
# BED MESHING # 
#########################################################################################
[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 10, 25
mesh_max: 340, 350
probe_count: 6, 6

#------------------------------------------------------------------------------------------

[exclude_object]

     

[gcode_macro TOOL_BED_MESH_CALIBRATE]
gcode:
      {% set tool_z_offset = printer[printer.toolchanger.tool].gcode_z_offset %}
      G90 ; absolute mode
      G0 Z10 F1000
      # Bed mesh knows about the probe offset, but not about the tool offset.
      M400
      SET_KINEMATIC_POSITION Z={10.0-tool_z_offset|float}
      BED_MESH_CALIBRATE
      G0 Z10 F1000
      SET_KINEMATIC_POSITION Z={10.0+tool_z_offset|float}

      








      