[include /home/klippy/klipper-toolchanger/examples/misc-macros/auto_purge/include.cfg]


[gcode_macro AUTO_PURGE]
description: auto purge is a macro, that scans your first layer gcode and "fits" a line on it so that your line end ends up where your print starts.
variable_purge_settings: {
        'z':                 0.30, # line height
        'line_width':        1.20, # of the purge lines
        'flow_rate':         25.0, # in mm³/s
        'prime_volume':      25.0, # in mm³
        'flow':              0.95, # flowrate multiplier

        'z_hop':             0.2,  # while traveling between them
        'travel_speed':      700,  # mm/s
        'initial_t_retract': 0.1,  # retract on the tool thats going to be first on the print
        'other_t_retract':   0.3,  # retract on all the other ones that get stashed

        'line_spacing':      1.5,  # between indivdual purge lines
        'purge_offset':      2.0,  # from object to first line
        
        'use_gcode_analysis': 1,   # 0 -> use exclude_object polygons | 1 -> parse gcode file for footprint
        #'gcode_path':        'asdfasdf_0.4n_0.2mm_ASA,ASA_XLIS_1h40m.gcode',
        #'debug_trace':       1     # 0 -> Silent | 1 -> Print timing and debug info
    }
variable_svg_settings: {
        'box_pad': 5.0,
        'max_size': 200,
        'line_thickness': 1.2
    }
variable_poly_tools_settings: {
        'gcode_line_width': 0.6, # set to 1.5x your usual max line width
        'lib_path':   '~/klipper-toolchanger/examples/misc-macros/auto_purge',
        'resolution':  0.25, # increase if TTC, decrease if you need finer granularity
    }