

[gcode_macro CLEAN_NOZZLE]
description: "Cleans the nozzle of the specified or active tool. Usage: CLEAN_NOZZLE [TEMP|S=<temp>] [T=<tool>]"
# ── Main settings ───────────────────────────────
variable_brush_center_x:      320.0 # Brush centre X (mm)
variable_brush_center_y:      -1.5  # Brush centre Y (mm)
variable_brush_height_z:      4.2   # Z height above the brush
variable_brush_plunge:        1.0   # Z plunge depth at center
variable_safe_above:          5     # Safety Z above brush (mm) (to move into)
variable_wipe_x_length:       32    # Total figure-8 length (X)
variable_wipe_y_length:       8     # Total figure-8 width (Y)
# ── Wiping behavior ─────────────────────────────
variable_wipe_times:          8     # Number of full figure-8 cycles
variable_wipe_speed:          500  # Movement speed (mm/s)
variable_shape:               False # False = 8, True = ∞ (False == along longest edge)
gcode:
    {% import toolchanger_helper as tch with context %}
    { tch.check_ok() }

    #── get settings, build short variable names ─────────────────────────────────
    {% set p, th, tc        = printer, printer.toolhead, printer.toolchanger %}
    {% set gc_pos           = p.gcode_move.gcode_position %}
    {% set is_printing      = p.print_stats.state|lower == 'printing' and p.print_stats.filament_used > 1.0 %}
    {% set fast_speed       = p.toolchanger.params_fast_speed %}
    {% set tn               = params.T|d(printer.toolchanger.tool_number)|int %}
    {% set cx, cy, z0, dz   = brush_center_x|float, brush_center_y|float, brush_height_z|float, brush_plunge|float %}
    {% set _ = action_raise_error("CLEAN_NOZZLE: No tool specified and no tool is active.") if tn == -1 %}

    {% set repeats = params.WIPE_TIMES|d(wipe_times)|int(wipe_times) %}

    {% macro clean_nozzle() %}
        {% set target_temp = get_cleaning_temp(tn)|int %}
                
        #── first check if we can savely move in ──────────────────
        {% set dist_y = min_y_distance_to_dock(cy)|float %}
        {% set tool_y = p[tc.tool_names[tn]].params_tool_size.y or 60 %}
        # are we close to docks and above brush (likely close to docks in Z)
        {% if dist_y <= tool_y and z0 + safe_above + 5 < gc_pos.z %}
            {% set y_approach = cy - dist_y + tool_y + (gc_pos.z/th.axis_maximum.z) * 10 %} 
        {% endif %} # /\- where we can squeeze into brush location without hitting stuffs

        #── move into position ────────────────────────────────────
        SAVE_GCODE_STATE NAME=CLEAN_NOZZLE_STATE
        G90
        {% if tn != printer.toolchanger.tool_number %} 
            # ---< restore to brush
            T{tn} X={cx} Y={cy} Z={z0}
        {% else %}
            M104 T{tn} S{target_temp}
            {% if is_printing %}
                {% set safe_z = [z0 + safe_above, gc_pos.z + 1]|max %}
                ROUNDED_G0 Z={safe_z} F={fast_speed} D=10 # small lift
            {% endif %}
            SET_VELOCITY_LIMIT ACCEL=3000
            ROUNDED_G0 X={cx}      F={fast_speed}      D=100
            {% if y_approach %} # too close to docks, need to choose a save approach
                ROUNDED_G0 Y={y_approach}               F={fast_speed}      D=50
                ROUNDED_G0 Z={z0 + safe_above}          F={fast_speed}      D=20
                ROUNDED_G0 Y={cy}      F={fast_speed}      D=20
            {% else %}
                ROUNDED_G0 Y={cy} Z={z0 + safe_above} F={fast_speed} D=20
            {% endif %}
            ROUNDED_G0 Z={z0}      F={fast_speed/2}    D=0
        {% endif %}

        M109 T{tn} S{target_temp}

        #── do the thing ──────────────────────────────────────────
        SET_VELOCITY_LIMIT ACCEL={[printer.configfile.settings.printer.max_accel, 8000]|min} VELOCITY={wipe_speed}
        { run_figure_eight((cx, cy, z0), (wipe_x_length, wipe_y_length, dz), shape, repeats) }
        
        M104 T{tn} S{get_tool_target(tn)} 

        #── return to print in case called during ───────────────
        {% if is_printing %}
            {% if get_tool_target(tn)|int > target_temp %}
                M109 T{tn} S{get_tool_target(tn)|int - 10} # <- wait till close to temp to not ooze or stall on end
            {% endif %}
            ROUNDED_G0 Z={z0 + safe_above} F={fast_speed}    D=10
            {% if y_approach %} # too close to docks, need to choose a save exit
                ROUNDED_G0 Y={y_approach} F={fast_speed}     D=20
                ROUNDED_G0 Z={gc_pos.z + 1} F={fast_speed/2} D=20
            {% endif %}
            ROUNDED_G0 Y={gc_pos.y} F={fast_speed} D=100
            ROUNDED_G0 X={gc_pos.x} F={fast_speed} D=100
            ROUNDED_G0 Z={gc_pos.z} F={fast_speed/2} D=0
        {% else %}
            G0 Z{z0 + safe_above}
        {% endif %}
        #── cleanup ────────────────────────────────────────────────
        RESTORE_GCODE_STATE NAME=CLEAN_NOZZLE_STATE MOVE=0
        TC_LOAD_OFFSETS
    {% endmacro %}

    {%- macro get_tool_target(tool_number=-1) -%}
        {%- set tool_name = printer.toolchanger.tool_names[tool_number|int] -%}
        {%- set tool      = printer[tool_name] -%}
        { printer[tool.extruder or ('extruder' ~ tool_number)].target or 0 }
    {%- endmacro -%}

    {%- macro get_tool_key(tool_number=-1) -%}
        {%- set tool_name = printer.toolchanger.tool_names[tool_number|int] -%}
        { tool_name|replace('tool ', '')|lower }
    {%- endmacro -%}

    {%- macro get_cleaning_temp(tool_number=-1) -%}
        {%- set requested_temp    = params.TEMP or params.S -%}
        {%- set recent_temps      = printer.save_variables.variables.recent_tooltemps or {} -%}
        {%- set recent_print_temp = recent_temps.get(get_tool_key(tool_number), None) -%}
        {%- set base_temp         = get_tool_target(tool_number)|int -%}
        { requested_temp or ((recent_print_temp or [base_temp, 190]|max) - 20) }
    {%- endmacro -%}

    {%- macro min_y_distance_to_dock(y_pos=0.0) -%}
        {%- set dock_ys = [] -%}
        {%- for tool in printer.toolchanger.tool_names -%}
            {%- set _ = dock_ys.append(printer[tool].params_park_y) if 'params_park_y' in printer[tool] -%}
        {%- endfor -%}
        { dock_ys|min if dock_ys else 9999 }
    {%- endmacro -%}

    {% macro run_figure_eight(position=(0.0, 0.0, 0.0), lengths=(0.0, 0.0, 0.0),
                              invert_figure=False, repeats=1, resolution=0.1 ) %}
        {% set impmod = printer.printer.__class__.__init__.__globals__.importlib.import_module %}
        {% set math = impmod('math') %} # <- you need meth 
        
        {% set Lx, Ly, Lz   = lengths[0]|abs, lengths[1]|abs, lengths[2]|abs %}
        {% set v_max        = math.sqrt((Lx**2 + (Ly**2)/4.0 + Lz**2)) %}
        {% set max_iter     = ((2*math.pi * v_max) / resolution)|round(0, 'ceil')|int %}
        
        {% set invert = invert_figure if lengths[0] <= lengths[1] else (not invert_figure) %}
        {% set points = [] %}
        {% for i in range(max_iter) %}
            {% set t = ((i|float / max_iter|float) * 2*math.pi) + math.pi/2.0 %}
            {% set px = (position[0] + (lengths[0] / 2.0) * ( invert and math.cos(t) or math.sin(2.0*t) )) %}
            {% set py = (position[1] + (lengths[1] / 2.0) * ( invert and math.sin(2.0*t) or math.cos(t) )) %}
            {% set pz = (position[2] - (lengths[2]|abs)   * (1.0 - math.cos(2.0*t)) / 2.0) %}
            {% if loop.first or loop.last or math.dist(points[-1], (px, py, pz)) >= resolution %}
                {% set _ = points.append( (px|round(3), py|round(3), pz|round(3)) ) %}
            {% endif %}
        {% endfor %}
        {% for _ in range(repeats|int) %}
            {% for px, py, pz in points %}
                G0 X{ px } Y{ py } Z{ pz } {('F' ~ (wipe_speed * 60)) if wipe_speed else ''}
            {% endfor %}
        {% endfor %}
        SET_VELOCITY_LIMIT ACCEL={th.max_accel} VELOCITY={th.max_velocity}
    {% endmacro %}

    { clean_nozzle() }
