[toolchanger]

  t_command_restore_axis: Z
  params_safe_y: 200
  params_close_y: 25
  params_fast_speed: 20000 # Go as fast as we can
  params_path_speed: 2000 # 20mm/s for the actual change
  params_type: 'changer_sc'   # See available paths below
  # The dropoff path of each tool type, pickup path is the same in reverse.
  params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
  #params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'X':-0.1}, {'X':0.1}, {'y':-0.1}, {'y':0.1}, {'z':0, 'y':0, 'f':0.5}, {'X':-0.1}, {'X':0.1}, {'y':-0.1}, {'y':0.1}, {'z':-10, 'y':0}, {'X':-0.1}, {'X':0.1}, {'y':-0.1}, {'y':0.1}, {'z':-10, 'y':16}]
  params_pads_mini_path: [{'y':9 ,'z':2}, {'y':8, 'z':0}, {'y':0, 'z':0, 'f':0.5},{'y':0, 'z':-5}, {'y':1, 'z':-7}, {'y':3, 'z':-9}, {'y':7,'z':-11}]
  #params_pads_sb_path: [{'y':9.5 ,'z':8}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'y':0, 'z':0, 'f':0.5},{'y':0, 'z':-5}, {'y':1, 'z':-7}, {'y':3, 'z':-9}, {'y':7,'z':-11}]
  #params_rods_mini_path: [{'z':0, 'y':4}, {'z':0, 'y':0, 'f':0.5}, {'z':-6, 'y':0}, {'z':-10, 'y':3}, {'z':-10, 'y':16}]
  #params_rods_sb_path: [{'y':9.5 ,'z':8}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-6, 'y':0}, {'z':-10, 'y':3}, {'z':-10, 'y':16}]
  #params_rods_mini_hookon_path: [{'z':0, 'y':4}, {'z':0, 'y':0, 'f':0.5}, {'z':-7.3, 'y':0}, {'z':-12.3, 'y':3.5}, {'z':-12.3, 'y':16}]

  params_input_shaper_freq_x: 55.4
  params_input_shaper_type_x: 'MZV'
  params_input_shaper_damping_ratio_x: 0.06
  params_input_shaper_freq_y: 39.4
  params_input_shaper_type_y: 'MZV'
  params_input_shaper_damping_ratio_y: 0.13
  
  initialize_on: manual
  initialize_gcode:
    DETECT_ACTIVE_TOOL_PROBE
    _INITIALIZE_FROM_DETECTED_TOOL

  before_change_gcode:
    {% set tn = "T"+(tool.tool_number|string) %}
    {% if printer["gcode_macro " + tn ] %}
       SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="''"
    {% endif %}

  after_change_gcode:
    {% set tn = "T"+(tool.tool_number|string) %}
    {% if printer["gcode_macro " + tn ] %}
       SET_GCODE_VARIABLE MACRO={tn} VARIABLE=color VALUE="'c44'"
    {% endif %}
    {% if tool.params_input_shaper_freq_x %}
      SET_INPUT_SHAPER SHAPER_FREQ_X={tool.params_input_shaper_freq_x} SHAPER_FREQ_Y={tool.params_input_shaper_freq_y} DAMPING_RATIO_X={tool.params_input_shaper_damping_ratio_x} DAMPING_RATIO_Y={tool.params_input_shaper_damping_ratio_y}
    {% else %}
            SET_INPUT_SHAPER SHAPER_FREQ_X={ printer.toolchanger.params_input_shaper_freq_x} SHAPER_FREQ_Y={ printer.toolchanger.params_input_shaper_freq_y} DAMPING_RATIO_X={ printer.toolchanger.params_input_shaper_damping_ratio_x} DAMPING_RATIO_Y={ printer.toolchanger.params_input_shaper_damping_ratio_y}
    {% endif %}

  dropoff_gcode:
    {% set x = tool.params_park_x|float %}
    {% set y = tool.params_park_y|float %}
    {% set z = tool.params_park_z|float %}
    {% set fast = tool.params_fast_speed|float %}
    {% set path = tool['params_' ~ tool.params_type ~ '_path'] %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set cur_z = printer.toolhead.position[2]|float %}
    RESPOND TYPE=echo MSG='Dropping off {tool.name}'
    G90
    ; Move 1 mm up to avoid crashing into things
    G0 Z{ [cur_z+1.0, max_z]|min } F{fast}
    #   ##############  Move up to the dock  ##############
    ROUNDED_G0 Y={tool.params_safe_y} D=50 F={fast}
    ROUNDED_G0 X={x} D=150 F={fast}
    ROUNDED_G0 Z={z + path[0]['z']|float} D=20 F={fast}
    ROUNDED_G0 Y={y + path[0]['y']|float} D=0 F={fast}
    STOP_TOOL_PROBE_CRASH_DETECTION
    #  ############## Run the path ##############
    {% for pos in path %}
        G0 Y{y + pos['y']|float} Z{z + pos['z']|float} F{tool.params_path_speed|float * (pos.get('f', 1.0)|float) }
    {% endfor %}

  pickup_gcode:
    {% set x = tool.params_park_x|float %}
    {% set y = tool.params_park_y|float %}
    {% set z = tool.params_park_z|float %}
    {% set fast = tool.params_fast_speed|float %}
    {% set path = tool['params_' ~ tool.params_type ~ '_path'] %}
    RESPOND TYPE=echo MSG='Picking up {tool.name}'
    G90
    #   ##############  Fast to the last point  ##############
    ROUNDED_G0 Y={tool.params_close_y} F={fast} D=5
    ROUNDED_G0 X={x} Z={z + path[-1]['z']|float} F={fast} D=5
    ROUNDED_G0 Y={y + path[-1]['y']|float} F={fast} D=0
    # Wait for temp before actually picking up the tool, while the nozzle is resting on it's pad.
    {% if tool.extruder %}
      M109 T{tool.tool_number} S{printer[tool.extruder].target|int} 
    {% endif %}
       # Run the path in reverse
# Run the path in reverse
    {% for pos in path|reverse %}
      G0 Y{y + pos['y']|float} Z{z + pos['z']|float} F{tool.params_path_speed|float * (pos.get('f', 1.0)|float) }
      #RESPOND TYPE=echo MSG="Tool number state: {printer.toolchanger.tool | int}"
      #{% if 'f' in pos %} # Use the f presence as marker that we have made contact with the tool.
        #{% if printer.tool_probe_endstop.active_tool_number | int == -1 %} # printer.tool_probe_endstop.active_tool_number is never updated???????
          #RESPOND TYPE=error MSG="Error: Tool pickup failed. Retrying..."
         # Retry logic to wait for active tool detection
          #{% for retry in range(3600) %}
              #G4 P1000  # Wait for 1 second
              #{% if printer.tool_probe_endstop.active_tool_number | int != -1 %}
                  #RESPOND TYPE=echo MSG="Tool successfully detected after retry."
                  #break
             #{% endif %}
            #{% endfor %}
          #{% endif %}
          # If tool still not detected after retries, halt and inform user
          #{% if printer.tool_probe_endstop.active_tool_number | int == -1 %}
              #RESPOND TYPE=error MSG="Critical Error: Tool not detected. Please intervene manually."
              #M112  # Emergency stop if required
          #{% else %}
              #START_TOOL_PROBE_CRASH_DETECTION T={tool.tool_number}
          #{% endif %}
      #{% endif %}
    {% endfor %}
    START_TOOL_PROBE_CRASH_DETECTION T={tool.tool_number}
    # Restore the position with smooth rounded move.
    ROUNDED_G0 Y={tool.params_safe_y} F={fast} D=20
    {% if 'Z' in restore_position %}
      ROUNDED_G0 Z={restore_position.Z} F={fast} D=150
    {% endif %}
    {% if 'X' in restore_position %}
      ROUNDED_G0 X={restore_position.X} F={fast} D=1000
    {% endif %}
    {% if 'Y' in restore_position %}
      ROUNDED_G0 Y={restore_position.Y} F={fast} D=0
    {% endif %}
    ROUNDED_G0 D=0

[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL]
gcode:
  {% if printer.tool_probe_endstop.active_tool_number | int == -1 %}
    RESPOND TYPE=error MSG='Failed to detect active tool'
    PAUSE
  {% else %}
    INITIALIZE_TOOLCHANGER T={printer.tool_probe_endstop.active_tool_number}
  {% endif %}


[gcode_macro TOOL_DOCKING_FINETUNE]
description: [X=<X offset>] [Y=<Y offset>] [Z=<Z offset>]
  Tune the docking, home, QGL level with T0, remove T0 and place the tool to be tuned on the shuttle.
  then run this command, XYZ are the offsets applied to the tools docking coordinates (from config)
gcode:
  INITIALIZE_TOOLCHANGER 
  _TOOL_DOCKING_FINETUNE {rawparams}
    
[gcode_macro _TOOL_DOCKING_FINETUNE]
gcode:
  {% if printer.tool_probe_endstop.active_tool_number|int != -1 %}
      {% set tool = printer[printer.toolchanger.tool] %}
      RESPOND TYPE=echo MSG="Testing T{printer.tool_probe_endstop.active_tool_number|string}"
      {% set x = tool.params_park_x|float + params.X|float %}
      {% set y = tool.params_park_y|float + params.Y|float %}
      {% set z = tool.params_park_z|float + params.Z|float %}
      {% set fast = tool.params_fast_speed|float %}
      {% set path = tool['params_' ~ tool.params_type ~ '_path'] %}
      {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
      {% set cur_z = printer.toolhead.position[2]|float %}
      G90
      ; Move 1 mm up to avoid crashing into things
      G0 Z{ [cur_z+1.0, max_z]|min } F{fast}
      RESPOND TYPE=echo MSG="Docking at X{x|string} Y{y|string} Z{z|string}"
      #RESPOND TYPE=echo MSG="Tool: {{y + path[0]['y']|float}|string}"
      #RESPOND TYPE=echo MSG="Tool: {printer.toolhead.position[1]|string}"
      {% if y + path[0]['y']|float != printer.toolhead.position[1]|float %} #this may be broken?
        ROUNDED_G0 Y={tool.params_safe_y} D=50 F={fast}
      {% endif %}
      ROUNDED_G0 X={x} D=150 F={fast}
      ROUNDED_G0 Z={z + path[0]['z']|float} D=20 F={fast}
      ROUNDED_G0 Y={y + path[0]['y']|float} D=0 F={fast}
      
      STOP_TOOL_PROBE_CRASH_DETECTION
      # Drop the tool
      {% for pos in path %}
          G0 Y{y + pos['y']|float} Z{z + pos['z']|float} F{tool.params_path_speed|float * (pos.get('f', 1.0)|float) }
      {% endfor %}

      # try to pick up the tool
      {% for pos in path|reverse %}
        G0 Y{y + pos['y']|float} Z{z + pos['z']|float} F{tool.params_path_speed|float * (pos.get('f', 1.0)|float) }
      {% endfor %}
      _REPORT_TOOL_DETECTED
    {% endif %}

[gcode_macro _REPORT_TOOL_DETECTED]
gcode:
  {% if printer.tool_probe_endstop.active_tool_number | int == -1 %}
    RESPOND TYPE=echo MSG='Tool not detected, please place on shuttle manually before rerunning the command'
  {% else %}
    RESPOND TYPE=echo MSG='T{printer.tool_probe_endstop.active_tool_number|string} Docked'
  {% endif %}

  


[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
  Set tool temperature.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% if params.T is defined %}
    {% set newparameters = " T="~params.T %}
    {% if params.S is defined %}
      {% set newparameters = newparameters ~ " TARGET="~params.S %}
    {% endif %}
    SET_TOOL_TEMPERATURE{newparameters}
  {% else %}
    M104.1 {rawparams}
  {% endif %}


[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>] [D<Deadband>]
  Set tool temperature and wait.
  T= Tool number [optional]. If this parameter is not provided, the current tool is used.
  S= Target temperature
  D= Dead-band, allows the temperature variance +/- the deadband
variable_default_deadband: 10.0
gcode:
    {% set s = params.S|float %}
    {% set deadband = default_deadband|float %}
    {% if params.D is defined %}
        {% set deadband = params.D|float %}
    {% endif %}
    {% set tn = params.T|default(printer.tool_probe_endstop.active_tool_number)|int %}
    {% set tool = printer.toolchanger.tool_names[tn]|default('') %}
    {% set extruder = printer[tool].extruder %}

    SET_HEATER_TEMPERATURE HEATER={extruder} TARGET={s}
    {% if s > 0 %}
        {% set lower_bound = s - (deadband / 2) %}
        {% set upper_bound = s + (deadband / 2) %}
        { action_respond_info("Waiting for temp to be within %.1fC and %.1fC" % (lower_bound, upper_bound)) }
        TEMPERATURE_WAIT SENSOR={extruder} MINIMUM={lower_bound} MAXIMUM={upper_bound}   ; Wait for hotend temp (within D degrees)
    {% endif %}





#########################################################################################
# TOOLCHANGER SPECIFICS #
#########################################################################################

# Probing using tap always using right temp

[gcode_macro _TAP_PROBE_ACTIVATE]
description: Ensure safe temp for bed probing
gcode:
    {% set max_temp = 150 %}
    {% set actual_temp = printer[params.HEATER].temperature %}
    {% set target_temp = printer[params.HEATER].target %}
    {% if target_temp > max_temp %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (target_temp, max_temp)) }
        SET_HEATER_TEMPERATURE HEATER={params.HEATER} TARGET={ max_temp|int - 5 }
    {% endif %}
    # Temperature target is already low enough, but nozzle may still be too hot.
    {% if actual_temp > max_temp  + 2 %}
        { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (actual_temp, max_temp)) }
        TEMPERATURE_WAIT SENSOR={params.HEATER} MAXIMUM={ max_temp }
    {% endif %}

#------------------------------------------------------------------------------------------

# Depending on the selected tool at the time of homing, the physical Z endstop position is offset.
# This corrects for that using current tool offset.

[gcode_macro _ADJUST_Z_HOME_FOR_TOOL_OFFSET]
gcode:
      G90 ; absolute mode
      G0 Z10 F1000
      {% set tool = printer.toolchanger.tool %}
      {% if tool %}
         {% set tool_z_offset = printer[tool].gcode_z_offset %}
         {% set probe_z_offset = printer.tool_probe_endstop.active_tool_probe_z_offset %}
         SET_KINEMATIC_POSITION Z={10.0+probe_z_offset|float}#SET_KINEMATIC_POSITION Z={10.0+tool_z_offset|float+probe_z_offset|float} 
      {% endif %}


#------------------------------------------------------------------------------------------

[gcode_macro _APPLY_ACTIVE_TOOL_GCODE_OFFSETS]
gcode:
    # Apply gcode offsets for tools
    {% set tool = printer.toolchanger.tool %}
    {% if tool %}
      SET_GCODE_OFFSET X={printer[tool].gcode_x_offset} Y={printer[tool].gcode_y_offset} Z={printer[tool].gcode_z_offset}
    {% endif %}



#------------------------------------------------------------------------------------------


#########################################################################################
# DEPRECATED #
#########################################################################################

[gcode_macro TOOL_ALIGN_START]
gcode:
    INITIALIZE_TOOLCHANGER # Detect current tool
    _TOOL_ALIGN_START

[gcode_macro _TOOL_ALIGN_START]
gcode:
    STOP_TOOL_PROBE_CRASH_DETECTION
    {% set tool = printer[printer.toolchanger.tool] %}
    SET_TOOL_PARAMETER PARAMETER='params_path_speed' VALUE=300
    SET_GCODE_OFFSET X=0 Y=0 Z=0
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    G0 X{tool.params_park_x} Z{tool.params_park_z}
    G0 Y{tool.params_park_y|float + 100.0}

[gcode_macro TOOL_ALIGN_TEST]
gcode:
    {% set curpos = printer.gcode_move.gcode_position %}
    {% if curpos[1] > 0 %}
      # Check if Y is not too far, to very unrealistic tests.
      RESPOND TYPE=error MSG='Test aborted. Tool too far away from the dock.'
    {% else %}
      INITIALIZE_TOOLCHANGER # Detect current tool
      SET_GCODE_OFFSET X=0 Y=0 Z=0
      STOP_TOOL_PROBE_CRASH_DETECTION
      SET_TOOL_PARAMETER PARAMETER='params_park_x' VALUE={curpos[0]}
      SET_TOOL_PARAMETER PARAMETER='params_park_y' VALUE={curpos[1]}
      SET_TOOL_PARAMETER PARAMETER='params_park_z' VALUE={curpos[2]}
      TEST_TOOL_DOCKING RESTORE_AXIS=XYZ
      STOP_TOOL_PROBE_CRASH_DETECTION
    {% endif %}

[gcode_macro TOOL_ALIGN_DONE]
gcode:
    {% set tool = printer[printer.toolchanger.tool] %}
    SAVE_TOOL_PARAMETER PARAMETER='params_park_x'
    SAVE_TOOL_PARAMETER PARAMETER='params_park_y'
    SAVE_TOOL_PARAMETER PARAMETER='params_park_z'
    RESET_TOOL_PARAMETER PARAMETER='params_path_speed'
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
