[tool_probe_endstop]
  crash_mintime: 0.5
  crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    RESPOND TYPE=error MSG='position on fail: {printer.gcode_move.position}' 
    DETECT_ACTIVE_TOOL_PROBE
    M84
    TURN_OFF_HEATERS


#################################################################################################################
##
##   [gcode_macro ⬜️]
##   variable_active: 0          # active represent buttom color in mainsail.
##   variable_color: ""          # color represent the small circle button color in mainsail. provide a hex value.
##   #---user variables
##   variable_filament_runout: 0
##   gcode:
##        DETECT_ACTIVE_TOOL_PROBE
##        TX TN={printer["tool ⬜️"].tool_number} # we route to global for ease
##
#################################################################################################################


#################################################################################################################
# _INIT_AT_STARTUP ##############################################################################################
#################################################################################################################
[delayed_gcode _INIT_AT_STARTUP]
initial_duration: 1
gcode:
    INITIALIZE_TOOLCHANGER
#################################################################################################################
# [toolchanger] #################################################################################################
#################################################################################################################
[toolchanger]
t_command_restore_axis: # LEAVE THIS BLANK OTHERWISE IT WILL ALWAYS RESTORE THE WRONG POSITION
# ESPECIALLY IF YOU HAVE NON 0 VALUES FOR OFFSETS IN YOUR TOOLS 
# params_*: 
  # Extra params to pass to pickup/dropoff gcode. Accessible in the gcode via
  # `toolchanger.params_name`.
  # Also will be copied to any tools for this toolchanger with local
  # values overriding. 
params_debug_messages: True
params_warning_messages: True
params_valid_messages: True

params_macro_accel_divider: 12 # use this (or set seperate values in seperate tools) to quieten down moves during macros. moves that dont require speed will be quieter that way.

#params_enable_tap_probe_activate: False

params_safe_y: 210
params_safe_z: 100
params_close_y: 25

params_fast_speed: 20000
params_path_speed: 1000

params_type: 'changer_sc'
params_dropoff_path: [{'z':3.5, 'y':4}, {'z':0, 'y':0}, {'z':-12, 'y':0}]
params_pickup_path: [{'z':-12, 'y':2}, {'z':-12, 'y':0}, {'z':1.5, 'y':0, 'f':0.5, 'verify':1}, {'z':0.5, 'y':2.5, 'f':0.5}, {'z':8, 'y':8}]  

initialize_on: manual #first-use
uses_axis: xyz
on_axis_not_homed: home

initialize_gcode:
    RESPOND MSG="<div style='margin-top: 8px;'><img src='https://tenor.com/view/yakui-yakui-the-maid-nijiura-maids-gif-22874678.gif' width='64' style='vertical-align:middle;' title='woozy'></div>"

# ⛔️ Please dont tinker with the belows ⛔️
before_change_gcode: 
  {% if printer.tool_probe_endstop.active_tool_number != -1 %}
    _before_change_gcode TN={tool.name|replace('tool ', '', 1)}
  {% endif %}
after_change_gcode:
  {% if printer.tool_probe_endstop.active_tool_number != -1 %}
    _after_change_gcode TN={tool.name|replace('tool ', '', 1)}
  {% endif %}
  
dropoff_gcode:
  {% if printer.tool_probe_endstop.active_tool_number != -1 %}
    _dropoff_gcode TN={tool.name|replace('tool ', '', 1)}
  {% endif %}

pickup_gcode:
  {% if printer.tool_probe_endstop.active_tool_number != -1 %}
    _pickup_gcode TN={tool.name|replace('tool ', '', 1)} X={start_position.X} Y={start_position.Y} Z={start_position.Z}
  {% endif %}

#################################################################################################################
#   INITIALIZE_TOOLCHANGER   ####################################################################################
#################################################################################################################
[gcode_macro INITIALIZE_TOOLCHANGER]
rename_existing: _INITIALIZE_TOOLCHANGER_INTERNAL
gcode:
  DETECT_ACTIVE_TOOL_PROBE # todo add "detected tool" option?
  _INITIALIZE_FROM_DETECTED_TOOL
#################################################################################################################
#   _INITIALIZE_FROM_DETECTED_TOOL   ############################################################################
#################################################################################################################
[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL]
gcode:
  {% if printer.toolchanger.has_detection == True %} 
    _WARNING_RESPOND MSG="$_INITIALIZE_FROM_DETECTED_TOOL_IMPL$ | hElp! (use toolchanger.detected_tool_number?)" 
  {% elif printer.tool_probe_endstop.active_tool_number|int == -1 %}
    _WARNING_RESPOND MSG="$_INITIALIZE_FROM_DETECTED_TOOL_IMPL$ | no active tool probe, not initilizing"
  {% else %}
    _DEBUG_RESPOND MSG="$_INITIALIZE_FROM_DETECTED_TOOL_IMPL$ | initializing toolchanger with tool {printer.tool_probe_endstop.active_tool_number}"
    _INITIALIZE_TOOLCHANGER_INTERNAL T={printer.tool_probe_endstop.active_tool_number}
  {% endif %}


#params_dropoff_path: [{'z':0, 'y':4}, {'z':0, 'y':0}, {'z':-12, 'y':0}]
#params_pickup_path: [{'z':-12, 'y':2}, {'z':-12, 'y':0}, {'z':1.5, 'y':0, 'f':0.5, 'verify':1}, {'z':0, 'y':0}, ]

#params_dropoff_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
#params_pickup_path: [{'z':-10, 'y':16}, {'z':-10, 'y':0}, {'z':0, 'y':0, 'f':0.5, 'verify':1}, {'y':5.5, 'z':0}, {'y':9.5, 'z':2}, {'y':9.5 ,'z':4}]

#params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
# params_sc_path: [{'z':5, 'y':60}, {'z':5, 'y':0}, {'z':0, 'y':0}, {'z':-6, 'y':0}, {'z':-6, 'y': 10}]

#params_stealthchanger_xol_path: [{'y':59, 'z':17.5},{'y':5, 'z':17.5},{'y':5, 'z':0.2},{'y':0.5, 'z':0.1},{'z':0, 'y':0, 'f':0.5},{'z':-10, 'y':0}, {'z':-10, 'y':16}]

#params_sc_path: [{'y':9.5 ,'z':8}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]

#params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]



