

[tmc5160 stepper_z]
driver_SGT: 7 # 6 # 5

[tmc5160 stepper_z1]
driver_SGT: 7 # 6 # 5

[tmc5160 stepper_z2]
driver_SGT: 7 # 6 # 5

[tmc5160 stepper_z3]
driver_SGT: 7 # 6 # 5


[delayed_gcode _SG_STARTUP]
initial_duration: 1
gcode:
  SET_TMC_FIELD STEPPER=stepper_z  FIELD=tcoolthrs VALUE=1048575
  SET_TMC_FIELD STEPPER=stepper_z1 FIELD=tcoolthrs VALUE=1048575
  SET_TMC_FIELD STEPPER=stepper_z2 FIELD=tcoolthrs VALUE=1048575
  SET_TMC_FIELD STEPPER=stepper_z3 FIELD=tcoolthrs VALUE=1048575

  # Route DIAG1 to report stall
  SET_TMC_FIELD STEPPER=stepper_z  FIELD=diag1_stall VALUE=1
  SET_TMC_FIELD STEPPER=stepper_z1 FIELD=diag1_stall VALUE=1
  SET_TMC_FIELD STEPPER=stepper_z2 FIELD=diag1_stall VALUE=1
  SET_TMC_FIELD STEPPER=stepper_z3 FIELD=diag1_stall VALUE=1

[gcode_macro SET_Z_SENS]
gcode:
  SET_TMC_FIELD STEPPER=stepper_z  FIELD=SGT VALUE={params.THR|d(10)}
  SET_TMC_FIELD STEPPER=stepper_z1 FIELD=SGT VALUE={params.THR|d(10)}
  SET_TMC_FIELD STEPPER=stepper_z2 FIELD=SGT VALUE={params.THR|d(10)}
  SET_TMC_FIELD STEPPER=stepper_z3 FIELD=SGT VALUE={params.THR|d(10)}

[gcode_button z0_stall]
pin: ^!PG10
press_gcode: Z_CRASH Z=0 TRIGGER=1
release_gcode:  Z_CRASH Z=0 TRIGGER=0

[gcode_button z1_stall]
pin: ^!PG11
press_gcode: Z_CRASH Z=1 TRIGGER=1
release_gcode:  Z_CRASH Z=1 TRIGGER=0

[gcode_button z2_stall]
pin: ^!PG12
press_gcode: Z_CRASH Z=2 TRIGGER=1
release_gcode:  Z_CRASH Z=2 TRIGGER=0

[gcode_button z3_stall]
pin: ^!PG13
press_gcode: Z_CRASH Z=3 TRIGGER=1
release_gcode:  Z_CRASH Z=3 TRIGGER=0

[gcode_macro Z_CRASH]
gcode:
    {% set action = action_emergency_stop if params.TRIGGER|int == 1 else action_respond_info %}
    { action_respond_info('stallguard z'  ~ params.Z ~  (' triggerd ' if params.TRIGGER|int else ' untriggered')) }

