#################################################################################################################
# _DEBUG_RESPOND ################################################################################################
#################################################################################################################
[gcode_macro _DEBUG_RESPOND]
variable_first_run: 1
description:"[MSG=](message) will respond if debug is enabled."
variable_color:"secondary"
gcode:
	{% if printer.toolchanger.params_debug_messages|default(true) %}
		{% set raw = params.MSG %}
		{% set parts = raw.split('$') %}
		{% if parts|length >= 3 %}
			{% set prefix = '$' ~ parts[1] ~ '$' %}
			{% set msg = raw.split(prefix, 1)[1].lstrip() %}
            {% set msg = msg[2:] %}
		{% else %}
			{% set pipe_index = raw.find('|') %}
			{% if pipe_index != -1 %}
				{% set prefix = raw[:pipe_index].rstrip() %}
			    {% set msg = raw[pipe_index:].lstrip() %}
		    {% else %}
			    {% set prefix = "?WHOCALLED?" %}
			    {% set msg = raw %}
            {% endif %}
		{% endif %}
        {% set msg = msg|replace("'", "&apos;") %}
        RESPOND MSG="<span style='cursor:pointer; color:rgba(79, 79, 79, 0.6);' title='{prefix}'>{msg}</span>"
	{% endif %}
	{% if printer.toolchanger.params_debug_messages is not defined  and first_run == 1 %}
			EXTENDED_RESPOND MSG="please define 'params_debug_messages' inside [toolchanger] either as true or false." COLOR={"error"}
            SET_GCODE_VARIABLE MACRO=_DEBUG_RESPOND VARIABLE=first_run VALUE=0
	{% endif %}


#################################################################################################################
# _WARNING_RESPOND ##############################################################################################
#################################################################################################################
[gcode_macro _WARNING_RESPOND]
variable_first_run: 1
description:"[MSG=](message) will respond if warnings are enabled. (formatting is $caller name$ | warning message)"
variable_color: "secondary"
variable_warning_color: "warning"
gcode:
	{% if printer.toolchanger.params_warning_messages|default(true) %}
		{% set raw = params.MSG %}
		{% set parts = raw.split('$') %}
		{% if parts|length >= 3 %}
			{% set prefix = '$' ~ parts[1] ~ '$' %}
			{% set msg = raw.split(prefix, 1)[1].lstrip() %}
		{% else %}
			{% set pipe_index = raw.find('|') %}
			{% if pipe_index != -1 %}
				{% set prefix = raw[:pipe_index].rstrip() %}
			    {% set msg = raw[pipe_index:].lstrip() %}
		    {% else %}
			    {% set prefix = "?WARNING?" %}
			    {% set msg = raw %}
            {% endif %}
		{% endif %}
		EXTENDED_RESPOND PREFIX="{prefix|string}" PREFIX_COLOR="{warning_color|string}" MSG="{msg|string}" COLOR="{color|string}"
	{% endif %}
	{% if printer.toolchanger.params_warning_messages is not defined  and first_run == 1 %}
			EXTENDED_RESPOND MSG="please define 'params_warning_messages' inside [toolchanger] either as true or false." COLOR={"error"}
            SET_GCODE_VARIABLE MACRO=_WARNING_RESPOND VARIABLE=first_run VALUE=0
	{% endif %}


#################################################################################################################
# _WARNING_RESPOND ##############################################################################################
#################################################################################################################
[gcode_macro _VALID_RESPOND]
variable_first_run: 1
description:"[MSG=](message) will respond if warnings are enabled. (formatting is $caller name$ | warning message)"
variable_color: "secondary"
variable_valid_color: "success"
gcode:
	{% if printer.toolchanger.params_valid_messages|default(true) %}
		{% set raw = params.MSG %}
		{% set parts = raw.split('$') %}
		{% if parts|length >= 3 %}
			{% set prefix = '$' ~ parts[1] ~ '$' %}
			{% set msg = raw.split(prefix, 1)[1].lstrip() %}
		{% else %}
			{% set pipe_index = raw.find('|') %}
			{% if pipe_index != -1 %}
				{% set prefix = raw[:pipe_index].rstrip() %}
			    {% set msg = raw[pipe_index:].lstrip() %}
		    {% else %}
			    {% set prefix = "?VALID?" %}
			    {% set msg = raw %}
            {% endif %}
		{% endif %}
		EXTENDED_RESPOND PREFIX="{prefix|string}" PREFIX_COLOR="{valid_color|string}" MSG="{msg|string}" COLOR="{color|string}"
	{% endif %}
	{% if printer.toolchanger.params_valid_messages is not defined and first_run == 1 %}
			EXTENDED_RESPOND MSG="please define 'params_valid_messages' inside [toolchanger] either as true or false." COLOR={"error"}
            SET_GCODE_VARIABLE MACRO=_VALID_RESPOND VARIABLE=first_run VALUE=0
	{% endif %}


#################################################################################################################
# EXTENDED_RESPOND ##############################################################################################
#################################################################################################################
[gcode_macro EXTENDED_RESPOND]
description:"[PREFIX=] PREFIX_COLOR=] [MSG=] [COLOR=] (prefix, prefix color, message, message color)"
gcode:
  {% set colors = ('primary', 'secondary', 'accent', 'info', 'success', 'error', 'warning') %}

  {% if params.TYPE is defined and params.MSG is defined %} # if TYPE and MSG are defined, just use the default RESPOND
      {% if params.TYPE in ('echo', 'echo_no_space', 'command', 'error') and params.TYPE != '' %}
          {% set type = 'TYPE=' + params.TYPE|string %}
      {% else %}
          RESPOND TYPE=error MSG="RESPOND TYPE '{params.TYPE}' is invalid. Must be one of 'echo', 'echo_no_space', 'command' or 'error'"
      {% endif %}
  {% endif %}

  {% set color = "DEFAULT" %} # default garbage value
  
  {% if params.MSG is defined and params.COLOR is defined %}
  
      {% set color = params.COLOR|lower %}

      {% if color in colors %} # valid color supplied
          {% set msg = 'MSG="<span class=' + color + '--text>' + params.MSG + '</span>"'|string %} # apply color to main message body
      {% else %}
          RESPOND TYPE=error MSG="RESPOND COLOR '{color}' is invalid. Must be one of 'primary', 'secondary', 'accent', 'info', 'success', 'warning' or 'error'"
      {% endif %}

  {% elif params.MSG is defined %} # no color, but yes message
      {% set msg = 'MSG="'+ params.MSG + '"'|string %}
  {% endif %}

  {% if params.PREFIX is defined and params.PREFIX_COLOR is defined %} # check if a separate color was supplied for the prefix - otherwise, fall back on the default one
  
      {% set prefixColor = params.PREFIX_COLOR | default("DEFAULT") | lower %}
  
      {% if prefixColor in colors %} # valid prefix color supplied
          {% set prefix = 'PREFIX="<span class=' + prefixColor + '--text>' + params.PREFIX + '</span>"'|string %}
      {% elif color in color %} # prefix color is invalid - fall back on overall value if possible
          {% set prefix = 'PREFIX="<span class=' + color + '--text>' + params.PREFIX + '</span>"'|string %}
      {% else %}
          RESPOND TYPE=error MSG="RESPOND PREFIX_COLOR '{prefixColor}' is invalid. Must be one of 'primary', 'secondary', 'accent', 'info', 'success', 'warning' or 'error'"
      {% endif %}
      
  {% elif params.PREFIX is defined and color in colors %} # no provided prefix color - use the same color for the prefix as is used for the main message body if possible
      {% set prefix = 'PREFIX="<span class=' + color + '--text>' + params.PREFIX + '</span>"'|string %}
  {% elif params.PREFIX is defined %} # no valid colors provided either for the prefix or overall but we DO have a prefix- leave it default
      {% set prefix = 'PREFIX="' + params.PREFIX + '"'|string %}
  {% else %} # no prefix provided - don't use one!
      {% set prefix = "" | string %}
  {% endif %}
  
  RESPOND {type} {prefix} {msg}


