


# ROLE={extrusion_role} <- orca
#
# orca gives this:
# perimeter, externalperimeter, overhangperimeter, internalinfill, solidinfill, topsolidinfill
# bottomsurface, bridgeinfill, gapinfill, ironing, skirt, brim, supportmaterial, supportmaterialinterface
# supporttransition, wipetower, mixed


[delayed_gcode _LAZY_PAUSE_CHECK]
gcode:
    LAZY_PAUSE

[gcode_macro LAZY_PAUSE]
description: "pause, but allow for coasting/wait until at non critical feature"
variable_pause_settings: {
    'delay_pause':               0.25,  # seconds to keep printing while heating is turned off (to prevent ooze or something)
    'delay_till_extrusion_role': True,   # if true we wait until the extruder role becomes any of "extrusion_roles"
    'extrusion_roles':           ['InternalInfill'] # which ones to consider pausable
    }
variable_state: {}
gcode:
    {% import toolchanger_helper as tch with context %}
    {% import variable_helper    as svh with context %}
    
    {% set p, cfg, th, tc = printer, printer.configfile.settings, printer.toolhead, printer.toolchanger %}
    {% set ps = pause_settings %}

    {%- macro start_coasting() -%}
        UPDATE_DELAYED_GCODE ID=_LAZY_PAUSE_CHECK DURATION=0 # Stop any previous loops
        {svh.save_tool_targets_to_variable('PAUSE', 'paused_tooltemps', turn_heaters_off=True)}
        {svh.gcode_var_update('LAZY_PAUSE', 'state.trigger_time', th.estimated_print_time)}
        {tch.respond_colored("Coasting for " ~ ps.delay_pause ~ "s ...", "LAZY_PAUSE", 'info--text')}
        UPDATE_DELAYED_GCODE ID=_LAZY_PAUSE_CHECK DURATION=0.05
    {%- endmacro -%}

    {%- macro finish(because='') -%}
        UPDATE_DELAYED_GCODE ID=_LAZY_PAUSE_CHECK DURATION=0
        {svh.gcode_var_update('LAZY_PAUSE', 'state', {}, mode='replace')}
        {tch.respond_colored("Triggering PAUSE " ~ because, "LAZY_PAUSE", 'success--text')}
        PAUSE
    {%- endmacro -%}

    {% if state.get('trigger_time', none) is not none %}
        {% if th.print_time - state.trigger_time >= ps.delay_pause  %}
            { finish('extrusion' if ps.delay_till_extrusion_role else '') }
        {% else %}
            UPDATE_DELAYED_GCODE ID=_LAZY_PAUSE_CHECK DURATION=0.05
        {% endif %}

    {% elif 'TRIGGER' in params %}
        {% if ps.delay_pause %}
            {start_coasting()}
        {% else %}
            {finish('extrusion')}
        {% endif %}
    {% else %}
        {% if p.pause_resume.is_paused %}
            {tch.respond_colored("printer is already paused.", "LAZY_PAUSE", 'warning--text') }
        {% elif p.idle_timeout.state|lower != "printing" %}
            {tch.respond_colored("Cannot PAUSE, printer is not printing.", "PAUSE", 'warning--text') }
        {% elif p.idle_timeout.state|lower == 'idle' %}
            {tch.respond_colored("idle timeout triggered. cannot pause?.", "RESUME", 'warning--text') }
        {% elif ps.delay_till_extrusion_role and ps.extrusion_roles %}
            {tch.respond_colored("blahasjf", "LAZY_PAUSE", 'accent--text') }
            SET_PAUSE_AT_EXTRUSION_ROLE MACRO="LAZY_PAUSE TRIGGER=1" ROLE="{ps.extrusion_roles}"
        {% elif ps.delay_pause != 0 %}
            {start_coasting()}
        {% elif ps.delay_pause == 0 %}
            {tch.respond_colored("Queed pause for next layer", "LAZY_PAUSE", 'accent--text') }
            SET_PAUSE_NEXT_LAYER
        {% else %}
            {finish('(settings dont allow lazy)')}
        {% endif %}
    {% endif %}



[gcode_macro PAUSE]
description: Pause the print, cool tools, stash toolhead, and wait.
rename_existing: PAUSE_BASE
variable_pause_settings: {
        'stash_toolhead_at_pause':     True,
        'pickup_toolhead_before_idle': True,
        'retract_length':              2.0
    }
variable_pause_info: {}
gcode:
    {% set SELF = 'PAUSE' %}

    {% macro pause() %}
        SAVE_GCODE_STATE NAME=_TC_PAUSE
        { save_tool_temps() }
        { save_last_position() }
        M83 # relative
        G1 E{pause_settings.retract_length|abs * -1}
        {% if not pause_settings.stash_toolhead_at_pause %}
            _MOVE_BACK_END_PAUSE_CANCEL # regular pause to the back
        {% else %}
            UNSELECT_TOOL RESTORE_AXIS=""
            UPDATE_DELAYED_GCODE ID=_ENSURE_TOOLHEAD_BEFORE_TIMEOUT DURATION={10 if pause_settings.pickup_toolhead_before_idle else 0}
        {% endif %}
        PAUSE_BASE 
    {% endmacro %}

    # --------------------------- message helpers
    {% macro msg(s, prefix_color="--v-accent-base", msg_color="--p-text-color2") %}
        {% set desc = printer.configfile.settings['gcode_macro ' ~ SELF|lower].description %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">" ~ SELF ~ " </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}
    {% macro err(s) %}{ msg(s, prefix_color="--v-error-base", msg_color="--v-warning-base") }{% endmacro %}

    # --------------------------- misc helpers
    {% macro save_tool_temps() %}
        {% set targets = {} %}
        {% for _name in printer.toolchanger.tool_names if printer[_name].extruder %}
            {% set tn     = printer[_name].tool_number %}
            {% set target = printer[printer[_name].extruder].target %}
            {% set _ = targets.update( {tn:target} ) %}
            { ('M104 T' ~ tn ~ ' S0') if target else '' }
        {% endfor %}
        {% set _ = pause_info.update({'tool_temps': targets}) %}
        SET_GCODE_VARIABLE MACRO={SELF} VARIABLE=pause_info VALUE="{pause_info}"
    {% endmacro %}

    {% macro save_last_position() %}
        {% set _p = printer.toolhead.position %} # ← klipper cant save "coord" objects
        {% set _ = pause_info.update( {'stashed_toolhead': printer.toolchanger.tool_number,
                                        'last_position': {'x': _p.x, 'y': _p.y, 'z': _p.z, 'e': _p.e}} ) %}
        SET_GCODE_VARIABLE MACRO={SELF} VARIABLE=pause_info VALUE="{pause_info}"
    {% endmacro %}

    {% set state = printer.idle_timeout.state|lower %}
    {% if printer.pause_resume.is_paused %}
        { err("Print is already paused.") }
    {% elif state == "idle" %}
        { err("Cannot PAUSE, is idle") }
    {% elif state != "printing" %}
        { err("Cannot PAUSE, printer is not printing.") }
    {% else %}
        { msg('Pausing the print') }
        { pause() }
    {% endif %}

[gcode_macro RESUME]
rename_existing: RESUME_BASE
variable_resume_settings: {
        'unretract_extra_distance': 0.1,
        'prime_feed': 500
    }
gcode:
    {% set SELF   = 'RESUME' %}
    {% set PARENT = 'PAUSE' %}

    {% macro resume(last_pos, tn) %}
        {% set settings = printer['gcode_macro ' ~ PARENT].pause_settings %}
        { restore_tool_temps() }
        UPDATE_DELAYED_GCODE ID=_ENSURE_TOOLHEAD_BEFORE_TIMEOUT DURATION=0 # Cancel the timeout checker

        # no tool equipped, and we have one stashed to resume with
        {% if tn != -1 and printer.toolchanger.tool_number == -1 %}
            # klipper toolchanger hard lets you restore directly
            SELECT_TOOL T={tn} X={last_pos.x} Y={last_pos.y} Z={last_pos.z}
        {% endif %}
        # just make sure were there
        G0 X{last_pos.x} Y{last_pos.y} Z{last_pos.z} F{printer.toolchanger.params_fast_speed}

        M83 
        G1 E{settings.retract_length + resume_settings.unretract_extra_distance} F{resume_settings.prime_feed}
        G92 E{last_pos.e}

        RESTORE_GCODE_STATE NAME=_TC_PAUSE MOVE=0
        SAVE_GCODE_STATE NAME=PAUSE_STATE # save it again so it doesnt error...
        RESUME_BASE
    {% endmacro %}

    # ---------------------------------------------------
    {% macro msg(s, prefix_color="--v-accent-base", msg_color="--p-text-color2") %}
        {% set desc = printer.configfile.settings['gcode_macro ' ~ SELF|lower].description %}
        {% set pre  = "<span style=\"color: var(" ~ prefix_color ~ "); font-weight:bold;\" title=\"" ~ desc ~ "\">" ~ SELF ~ " </span>" %}
        { action_respond_info(pre ~ "<span style=\"color: var(" ~ msg_color ~ ");\" title=\"" ~ desc ~ "\">" ~ s ~ "</span>") }
    {% endmacro %}
    {% macro err(s) %}{ msg(s, prefix_color="--v-error-base", msg_color="--v-warning-base") }{% endmacro %}

    {% macro restore_tool_temps(variable='pause_info') %}
        {% set var     = printer['gcode_macro ' ~ PARENT][variable] %}
        {% set temps   = var.tool_temps %}
        {% for tn, temp in temps.items() if temps and temps is mapping %}
            { 'M104 T' ~ tn ~ ' S' ~ temp }
        {% endfor %}
        {% set wait_tn   = var.stashed_toolhead %}
        {% set wait_temp = temps.get(wait_tn) %}
        { ('M109 T' ~ wait_tn ~ ' S' ~ wait_temp) if wait_temp and wait_temp >= 50 }
        SET_GCODE_VARIABLE MACRO={PARENT} VARIABLE={variable} VALUE={{}}
    {% endmacro %}

    # ---------------------------------------------------
    {% set var        = printer['gcode_macro ' ~ PARENT].pause_info or {} %}
    {% set last_pos   = var.get('last_position', {}) %}
    {% set stashed_tn = var.get('stashed_toolhead', -1)|int(-1) %}

    {% if not printer.pause_resume.is_paused %}
        { err("printer is not paused.") }
    {% elif printer.idle_timeout.state|lower == 'idle' %}
        { err("idle timeout triggered. not safe to resume.") }
    {% elif last_pos|length >= 4 %}
        { msg('resuming the print...') }
        { resume(last_pos, stashed_tn) }
    {% else %}
        { err("something went wrong... please resume manually and call RESUME_BASE") }
    {% endif %}



[delayed_gcode _ENSURE_TOOLHEAD_BEFORE_TIMEOUT]
gcode:
    {% import toolchanger_helper as tch with context %}
    {% import variable_helper    as svh with context %}

    {% set p, cfg, th, tc = printer, printer.configfile.settings, printer.toolhead, printer.toolchanger %}

    #---< make sure we werent called multiple times
    UPDATE_DELAYED_GCODE ID=_ENSURE_TOOLHEAD_BEFORE_TIMEOUT DURATION=0
    {% if 'idle_timeout' in cfg %}
        {% set timeout         = p.printer.lookup_object('idle_timeout').idle_timeout %} # soon to be {% set timeout   = p.idle_timeout.idle_timeout %}
        {% set state           = p.idle_timeout.state|lower %}
        {% set time_idle       = th.estimated_print_time - th.print_time %}
        {% set time_until_idle = timeout - time_idle %}
        {% set stashed_tn      = p['gcode_macro PAUSE'].pause_info.get('stashed_toolhead', -1) %}
        UPDATE_DELAYED_GCODE ID=_ENSURE_TOOLHEAD_BEFORE_TIMEOUT DURATION=1
        {% if time_until_idle < 30 and state != 'idle' and stashed_tn != -1 and tc.tool_number == -1 %}
            # try to get the tool again, and kick in idle timeout (resets when we move)
            {tch.respond_colored('Picking up ' ~ tc.tool_names[stashed_tn]|replace('tool ', '') ~ ' to prevent idle timeout.', '_ENSURE_TOOLHEAD_BEFORE_TIMEOUT', 'info--text')}
            {svh.gcode_var_update('PAUSE', 'pause_info.last_timeout', timeout)}
            SELECT_TOOL T={stashed_tn}
            SET_IDLE_TIMEOUT TIMEOUT=29
            UPDATE_DELAYED_GCODE ID=_ENSURE_TOOLHEAD_BEFORE_TIMEOUT DURATION=30
        {% elif state == 'idle' and tc.tool_number == -1 %}
            # job done or fucked up, we are idle now. time to restore and say goodbye :(
            SET_IDLE_TIMEOUT TIMEOUT={p['gcode_macro PAUSE'].pause_info.get('last_timeout', cfg.idle_timeout.timeout)}
            {svh.gcode_var_update('PAUSE', 'pause_info.last_timeout', None)}
            UPDATE_DELAYED_GCODE ID=_ENSURE_TOOLHEAD_BEFORE_TIMEOUT DURATION=0
        {% elif stashed_tn != -1 and tc.tool_number == -1 %}
            UPDATE_DELAYED_GCODE ID=_ENSURE_TOOLHEAD_BEFORE_TIMEOUT DURATION=10
        {% endif %}
    {% endif %}





