
# orca gives this:
# perimeter, externalperimeter, overhangperimeter, internalinfill, solidinfill, topsolidinfill
# bottomsurface, bridgeinfill, gapinfill, ironing, skirt, brim, supportmaterial, supportmaterialinterface
# supporttransition, wipetower, mixed

[gcode_macro SET_FEATURE_SCV]
variable_feature_scv: {
        'default':                   5.0,
        'perimeter':                 8.0,
        'externalperimeter':         6.0,
        'overhangperimeter':         3.0,
        'internalinfill':           12.0,
        'topsolidinfill':            6.0,
        'solidinfill':              10.0,
        'supportmaterialinterface':  3.0,
        'supportmaterial':           5.0,
        'bridgeinfill':              4.0,
    }
gcode:
    {% set role = params.get('EXTRUSION_ROLE', None) %}
    {% set scv = feature_scv.get(feature, feature_scv.get('default', None)) %}
    {% if scv and role %} SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={scv} {% endif %}
gcode:

# Machine start G-code
# PRINT_START TOOL_TEMP={first_layer_temperature[initial_tool]} BED_TEMP=[first_layer_bed_temperature] TOOL=[initial_tool]{if is_extruder_used[0]} T0_TEMP={first_layer_temperature[0]}{endif}{if is_extruder_used[1]} T1_TEMP={first_layer_temperature[1]}{endif}{if is_extruder_used[2]} T2_TEMP={first_layer_temperature[2]}{endif}{if is_extruder_used[3]} T3_TEMP={first_layer_temperature[3]}{endif}{if is_extruder_used[4]} T4_TEMP={first_layer_temperature[4]}{endif}{if is_extruder_used[5]} T5_TEMP={first_layer_temperature[5]}{endif}

# Layer change G-code
# SET_PRINT_STATS_INFO TOTAL_LAYER=[total_layer_count] CURRENT_LAYER=[layer_num]

# Change extrusion role G-code
# SET_PRINT_STATS_INFO EXTRUSION_ROLE=[extrusion_role]


# Usage: SET_PAUSE_AT_EXTRUSION_ROLE [ENABLE=[0|1]] [ROLE=<name1(,name2, name3)> or <[names]>]
[gcode_macro SET_PAUSE_AT_EXTRUSION_ROLE]
description: "Arms a pause to trigger on a specific slicer feature type. Usage: SET_PAUSE_AT_EXTRUSION_ROLE ROLE=InternalInfill
              Supports multiple comma seperated roles."
variable_current_extrusion_role: None
gcode:
    {% set pause_config  = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_at_extrusion_role %}
    {% set ENABLE        = params.ENABLE|int != 0 if 'ENABLE' in params else 'ROLE' in params %}
    {% set _roles_string = params.ROLE|d(pause_config.extrusion_role)|string
                                      |reject('in', ['[', ']', '"', "'", '(', ')', ' '])
                                      |list|join('') %}
    {% set ROLES         = _roles_string.split(',')|map('trim')|map('lower')|list %}
    {% set MACRO         = params.MACRO|d(pause_config.call, True) %}
    SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_at_extrusion_role \
                       VALUE="{ { 'enable': ENABLE, 'extrusion_role':ROLES, 'call':MACRO } }"

# Usage: SET_PRINT_STATS_INFO [TOTAL_LAYER=<total_layer_count>] [CURRENT_LAYER=<current_layer>] [EXTRUSION_ROLE=<current_extrusion_role>]
[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: _SET_PRINT_STATS_INFO_FEATURE
variable_pause_at_extrusion_role: { 'enable': False, 'extrusion_role': None, 'call': 'PAUSE' }
gcode:
    {% set role = params.pop('EXTRUSION_ROLE', none) %}
    {% if role is not none %}
        SET_GCODE_VARIABLE MACRO=SET_PAUSE_AT_EXTRUSION_ROLE VARIABLE=current_extrusion_role VALUE="'{role|lower}'"
        {% set roles = pause_at_extrusion_role.extrusion_role %}
        {% if pause_at_extrusion_role.enable and role|lower in (roles is string and [roles] or roles)|map('lower')|list %}
            RESPOND TYPE=echo MSG='{"%s, forced by pause_at_extrusion_role [%s]" % (pause_at_extrusion_role.call, role)}'
            SET_PAUSE_AT_EXTRUSION_ROLE ENABLE=0
            {pause_at_extrusion_role.call}
        {% endif %}
    {% endif %}
    {% if params or (not params and not role) %} # dont run if that was it (pause at next layer gets triggered on emtpy command!?!?!????)
        _SET_PRINT_STATS_INFO_FEATURE {params|xmlattr}
    {% endif %}

[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: _SET_PRINT_STATS_INFO_SCV
gcode:
    _SET_PRINT_STATS_INFO_SCV {rawparams}
    {% if 'EXTRUSION_ROLE' in params %} SET_FEATURE_SCV {rawparams} {% endif %}

