[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_110020001847323037343634-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PG6
position_min: 0

position_endstop: 350
position_max: 350

homing_speed: 80   #Max 100
second_homing_speed: 12
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]

cs_pin: PC4
spi_bus: spi1

interpolate: true
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0

##------------------------------------------------------------------------------------------

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PG9
position_min: -6
position_endstop: 350
position_max: 350

homing_speed: 60  #Max 100
second_homing_speed: 12
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_y]

cs_pin: PD11
spi_bus: spi1

interpolate: true
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2

[stepper_z]
enable_pin: !PG5
step_pin: PF11
dir_pin: !PG3

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

endstop_pin: probe:z_virtual_endstop



position_max: 356
position_min: -10.0 #-2, -10 set for fucking QGL, cant set it on the fly, cant change it to 2 after QGL, THIS WILL BITE ME IN THE ARSE, FUCK KLIPPER

homing_speed: 10
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc5160 stepper_z]
cs_pin: PC6
spi_bus: spi1
sense_resistor: 0.075

run_current: 1.2
interpolate: true
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
enable_pin: !PA0
step_pin: PG4
dir_pin: PC1

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z1]
cs_pin: PC7
spi_bus: spi1
sense_resistor: 0.075

run_current: 1.2
interpolate: true
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
enable_pin: !PG2
step_pin: PF9
dir_pin: !PF10

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z2]
cs_pin: PF2
spi_bus: spi1
sense_resistor: 0.075

run_current: 1.2
interpolate: true
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
enable_pin: !PF1
step_pin: PC13
dir_pin: PF0

rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z3]
cs_pin: PE4
spi_bus: spi1
sense_resistor: 0.075

run_current: 1.2
interpolate: true
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
#heater_pin: PA3
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 1
min_temp: 0
max_temp: 120
control: pid
pid_Kp=58.860 
pid_Ki=1.842 
pid_Kd=470.141